<!-- Wishlist Table -->
<br>
<br>
<div class="row align-items-center mb-3 wishlist-header">
  <div class="col-md-6">
    <h2 class="wishlist-title">My Wishlist</h2>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-6">
    <input type="text" class="form-control" placeholder="Search Wines" [(ngModel)]="searchQuery"
      (input)="filterWines()">
  </div>
</div>

<div class="table-responsive custom-table-container">
  <table class="table table-striped custom-table">
    <thead>
      <tr>
        <th scope="col" class="d-none d-md-table-cell">Image</th>
        <th scope="col">Wine Name</th>
        <th scope="col" class="d-none d-md-table-cell">Vintage</th>
        <th scope="col" class="d-none d-md-table-cell">Varietal</th>
        <th scope="col" class="d-none d-md-table-cell">Type</th>
        <th scope="col" class="d-none d-md-table-cell">Price (ZAR)</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let wine of paginatedWines; let i = index">
        <td class="d-none d-md-table-cell">
          <div *ngIf="wine.filePath" class="image-container mb-3">
            <img [src]="wine.filePath" alt="Wine Image" class="img-thumbnail" style="width: 100px; height: 100px;">
          </div>
        </td>
        <td class="align-middle">{{ wine.name }}</td>
        <td class="d-none d-md-table-cell align-middle">{{ wine.vintage }}</td>
        <td class="d-none d-md-table-cell align-middle">{{ getVarietalName(wine.varietalID) }}</td>
        <td class="d-none d-md-table-cell align-middle">{{ getWinetypeName(wine.wineTypeID) }}</td>
        <td class="d-none d-md-table-cell align-middle">{{ wine.price | currency:'R':'symbol':'1.2-2' }}</td>
        <td class="align-middle">


          <button style="margin: 5px;" class="btn btn-danger" (click)="openDeleteWineModal(wishlistItems[i])">
            <i class="fas fa-trash-alt"></i> 
          </button>
          <button style="margin: 5px;" class="btn btn-success" (click)="addToCart(wishlistItems[i])">
            <i class="fas fa-cart-plus"></i> 
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="text-center empty-wishlist" *ngIf="wines.length === 0">
  <h3>No wines currently in your wishlist.</h3>
</div>

<!-- Delete Wine from Wishlist modal -->
<div class="modal" tabindex="-1" [ngClass]="{'show': showDeleteWineModal}"
  [ngStyle]="{'display': showDeleteWineModal ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Remove Confirmation</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeDeleteWineModal()"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to remove this wine from your wishlist?
        <p></p>
        <p>Wine Name: {{ wineToDeleteDetails?.name }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeDeleteWineModal()">No</button>
        <button type="button" class="btn btn-primary" (click)="deleteWishlistItem()">Yes</button>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="pagination">
  <button class="btn btn-light" (click)="previousPage()">
    &laquo; Previous
  </button>
  <span class="page-info">Page {{ currentPage }} of {{ totalPages }}</span>
  <button class="btn btn-light" (click)="nextPage()">
    Next &raquo;
  </button>
</div>
