<!--************************************************************ Page Heading + Add Button ************************************************************************************-->

<br>
<br>
<div class="row align-items-center">
  <div class="col-md-6">
    <h1>Blacklist</h1>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Search Blacklist" [(ngModel)]="searchKeyword" (input)="applySearch()">
    </div>
  </div>
 
  <div class="col text-end">
    <button class="btn btn-success" (click)="openAddBlacklistCModal()">
      <i class="fas fa-plus"></i> Add
    </button>
    <button type="button" class="btn btn-primary" style="margin: 2px;" (click)="showModal('BLACKLIST')">Report</button>

  </div>
</div>

<!--************************************************************ Page Heading + Add Button ************************************************************************************-->


<!--************************************************************ Table for View Blacklist *************************************************************************************-->

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="header-cell">Email</th>
      <th scope="col" class="header-cell">Reason</th>
      <th scope="col" class="header-cell"> Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of currentBlacklistPage">
      <td>{{ x.email }}</td>
      <td>{{ x.reason }}</td>
      <td>
        <button class="btn btn-primary" style="margin-right: 4px;"
          (click)="x.blacklistID!== undefined && openEditBlacklistCModal(x.blacklistID)">
          <i class="fas fa-pencil-alt"></i>
        </button>
        <button class="btn btn-danger" (click)="x.blacklistID!== undefined && openDeleteBlacklistCModal(x)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="text-center" *ngIf="blacklistC.length === 0">
  <h3>No blacklisted customers currently in your system.</h3>
</div>

<!-- Pagination -->
<div class="pagination">
  <button class="btn custom-btn" (click)="previousPage()">
    &laquo; Previous
  </button>
  <span class="custom-page-info">Page {{ currentPage }} of {{ totalPages }}</span>
  <button class="btn custom-btn" (click)="nextPage()">
    Next &raquo;
  </button>
</div>

<!--************************************************************ Table for View Blacklist *********************************************************************************-->


<!--************************************************************ Add/Edit Modal ***********************************************************************************************-->

<div class="modal" tabindex="-1" [ngClass]="{'show': showBlacklistModal}"
  [ngStyle]="{'display': showBlacklistModal ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">{{editingBlacklistC ? 'Edit Blacklist Customer' : 'Add Customer to Blacklist'}}
        <button type="button" class="btn-close" aria-label="Close" (click)="closeBlacklistCModal()"></button>
      </div>

      <div class="modal-body">
        <form #blacklistForm="ngForm" (ngSubmit)="submitBlacklistCForm(blacklistForm); onSubmitClick()">
    
            <!-- Add Mode: Dropdown for Customer Emails -->
            <ng-container *ngIf="!editingBlacklistC">
                <div class="d-flex justify-content-between">
                    <label for="blacklistCEmail" class="form-label">Customer e-mail <i class="fa fa-question-circle"
                            data-bs-toggle="tooltip" title="Select the account you want to add to the blacklist."></i>
                    </label>
                    <span style="color: #ff6666; font-size: smaller; align-items: right;">* Required</span>
                </div>
                <select class="form-control" id="blacklistCEmail" [(ngModel)]="currentBlacklistC['email']"
                    name="blacklistCEmail" (change)="onEmailChange()" #customerField="ngModel">
                    <option value="" disabled>Select a customer email</option>
                    <option *ngFor="let email of customerEmails" [value]="email">{{email}}</option>
                </select>
                <div *ngIf="customerField.invalid" class="alert alert-danger">
                    <div>Email is required.</div>
                </div>
            </ng-container>
    
            <!-- Edit Mode: Display email as text -->
            <div *ngIf="editingBlacklistC">
                <label style="padding-bottom: 4px;">Customer e-mail</label>
                <p>{{currentBlacklistC['email']}}</p>
            </div>
    
            <!-- Reason Input (Displayed after email is selected in Add mode or always in Edit mode) -->
            <div class="d-flex justify-content-between" *ngIf="editingBlacklistC || currentBlacklistC['email']">
                <label for="blacklistReason" class="form-label">Reason for being on the blacklist <i
                        class="fa fa-question-circle" data-bs-toggle="tooltip"
                        title="Provide the reason for adding the customer to the blacklist."></i>
                </label>
                <span style="color: #ff6666; font-size: smaller; align-items: right;">* Required</span>
            </div>
            <input type="text" class="form-control" id="blacklistReason" [(ngModel)]="currentBlacklistC.reason"
                    name="blacklistReason" required #reasonField="ngModel" placeholder="Please enter the reason here" 
                    *ngIf="editingBlacklistC || currentBlacklistC['email']">

            <div *ngIf="reasonField?.invalid && reasonField?.touched" class="alert alert-danger">
                <div *ngIf="reasonField?.errors?.['required']">Reason is required.</div>
            </div>
        </form>
    </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeBlacklistCModal()">Close</button>
        <button type="button" class="btn btn-primary"
          [disabled]="!blacklistForm.valid || (!editingBlacklistC && !currentBlacklistC['email'])"
          (click)="submitBlacklistCForm(blacklistForm); onSubmitClick()">
          {{editingBlacklistC ? 'Save Changes' : 'Save'}}
        </button>

      </div>
    </div>
  </div>
</div>





<!--************************************************************ Add/Edit Modal ***********************************************************************************************-->


<!--************************************************************ Delete Modal *************************************************************************************************-->

<div class="modal" tabindex="-1" [ngClass]="{'show': showDeleteBlacklistCModal}"
  [ngStyle]="{'display': showDeleteBlacklistCModal ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">Removal Confirmation
        <button type="button" class="btn-close" aria-label="Close" (click)="closeDeleteBlacklistCModal()"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to remove this customer from the blacklist?</p>
        <p>Customer Email: {{ blacklistCToDeleteDetails?.email }}</p>
        <p>Reason for being on blacklist: {{ blacklistCToDeleteDetails?.reason }}</p>
        <div class="d-flex justify-content-between">
          <label for="removalReason">Removal Reason: <i
            class="fa fa-question-circle" data-bs-toggle="tooltip"
            title="Provide the reason for removing the customer from the blacklist."></i>
          </label>
          <span style="color: #ff6666; font-size: smaller; align-items: right;">* Required</span>
        </div>
        <input type="text" id="removalReason" [(ngModel)]="reason" class="form-control" placeholder="Enter removal reason">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeDeleteBlacklistCModal()">No</button>
        <button type="button" class="btn btn-primary" [disabled]="!reason" 
          (click)="deleteBlacklistC(); AddAuditLog('Blacklist Customer: Deleted')">Yes</button>
      </div>
    </div>
  </div>
</div>

<!--************************************************************ Delete Modal *************************************************************************************************-->

<!-- Blacklist Report Modal -->
<div class="modal" tabindex="-1" [ngClass]="{'show': showBlacklistReportModal}" [ngStyle]="{'display': showBlacklistReportModal ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1>{{ currentReportType }}</h1>        
        <button type="button" class="btn-close" aria-label="Close" (click)="closeBlacklistModal()"></button>
      </div>
      <div class="modal-body">
        <h5 class="modal-title">Please select how you want to view the {{ currentReportType?.toLowerCase() }} report</h5>
      </div>      
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="OpenReports(); AddAuditLog('Report: ' + currentReportType + ' Opened')">Open Report</button>
        <button type="button" class="btn btn-primary" (click)="DownloadReports(); AddAuditLog('Report: ' + currentReportType + ' Downloaded')">Download Report</button>
      </div>
    </div>
  </div>
</div>