<br>
<br>

<!-- Event Table -->
<div class="row align-items-center mb-3">
  <div class="col-md-6">
    <h2>Event</h2>
    <div class="row mb-3">
      <div class="col-md-6">
        <input type="text" class="form-control mb-3" placeholder="Search Events" [(ngModel)]="searchQuery"
          (input)="filterEvents()">
      </div>
      <div>
        <!-- Note that I removed the TypeScript null assertion operator ! from $event.target.value -->
        <select    class="btn btn-light dropdown-toggle fixed-width-btn" (change)="onSortChange($event)">
          <option value="">Sort By</option>
          <option value="eventID">Recent</option>
          <option value="name">Name</option>
          <option value="eventDate">Date</option>
          <option value="tickets_Available">Tickets Available</option>
          <option value="tickets_Sold">Tickets Sold</option>
          <option value="price">Price</option>
          <option value="earlyBirdID">Early Bird</option>
          <!-- <option value="eventTypeID">Event Type ID</option> -->
        </select>
        

        <select  class="btn btn-light dropdown-toggle fixed-width-btn" (change)="onSortDirectionChange($event)">
          <option value="">Order By</option>
          <option value="asc">Ascending</option>
          <option value="desc">Descending</option>
        </select>

      </div>
    </div>
  </div>
  <div class="col-md-6 text-end">
    <button class="btn btn-success" (click)="openAddEventModal()">
      <i class="fas fa-plus"></i> Add
    </button>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="d-none d-md-table-cell">Image</th>
      <th scope="col" class="d-none d-md-table-cell">Name</th>
      <th scope="col" class="d-none d-md-table-cell">Type</th>
      <th scope="col" class="d-none d-md-table-cell">Date (DD/MM/YYYY)</th>
      <th scope="col" class="d-none d-md-table-cell">Tickets Available</th>
      <th scope="col" class="d-none d-md-table-cell">Tickets Sold</th>
      <th scope="col" class="d-none d-md-table-cell">Price (ZAR)</th>
      <th scope="col" class="d-none d-md-table-cell">Early Bird Limit</th>
      <th scope="col" class="d-none d-md-table-cell">Early Bird Percentage</th>
      <th scope="col" class="d-none d-md-table-cell">Display</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <td class="align-middle"><img [src]="event.filePath" alt="{{ event.name }}'s Image" width="140" height="100"></td>
      <td class="d-none d-md-table-cell align-middle">{{ event.name }}</td>
      <td class="d-none d-md-table-cell align-middle">{{ event.eventType?.eventTypeName }}</td>
      <td class="d-none d-md-table-cell align-middle">{{ event.eventDate | date:'dd/MM/yyyy HH:mm' }}</td>
      <td class="d-none d-md-table-cell align-middle">{{ event.tickets_Available }}</td>
      <td class="d-none d-md-table-cell align-middle">{{ event.tickets_Sold }}</td>
      <td class="d-none d-md-table-cell align-middle" style="text-align: right;">{{ event.price |
        currency:'R':'symbol':'1.2-2' }}</td>
      <td class="d-none d-md-table-cell align-middle">{{ event.earlyBirdID !== undefined ?
        getEarlyBirdById(event.earlyBirdID)?.limit : 'N/A' }}</td>
      <!-- New Column -->
      <td class="d-none d-md-table-cell align-middle">{{ event.earlyBirdID !== undefined ?
        getEarlyBirdById(event.earlyBirdID)?.percentage : 'N/A' }}</td>
      <td class="align-middle">
        <input type="checkbox" [checked]="event.displayItem" (change)="toggleDisplay(event)">


      </td>

      <td>

        <button class="btn btn-primary" (click)="event.eventID !== undefined && openEditEventModal(event.eventID)"
          style="margin-right: 4px;">
          <i class="fas fa-pencil-alt"></i>
        </button>
        <button class="btn btn-danger" (click)="event.eventID !== undefined && openDeleteEventModal(event)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<app-pagination [currentPage]="currentPage" [totalPages]="totalPages" [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions" (pageChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)"></app-pagination>


<div class="text-center" *ngIf="events.length === 0">
  <h3>No events currently in your system.</h3>
</div>





<!-- Delete Event Modal -->
<div class="modal" tabindex="-1" [ngClass]="{'show': showDeleteEventModal}"
  [ngStyle]="{'display': showDeleteEventModal ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Confirmation</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeDeleteEventModal()"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this event?
        <br>
        <p></p>
        <p>Event Name: {{ eventToDeleteDetails?.name }}</p>
        <!-- <p>Event Description: {{ eventToDeleteDetails?.description }}</p> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeDeleteEventModal()">No</button>
        <button type="button" class="btn btn-primary"
          (click)="deleteEvent(); AddAuditLog('Event: Deleted')">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- Event END -->

<!-- add/edit event modal -->

<div class="modal" tabindex="-1" [ngClass]="{'show': showEventModal}"
  [ngStyle]="{'display': showEventModal ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{editingEvent ? 'Edit Event' : 'Add Event'}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeEventModal()"></button>
      </div>
      <div class="modal-body">
        <form #eventForm="ngForm" (ngSubmit)="submitEventForm(eventForm); onSubmitClick()">

          <div class="d-flex justify-content-between">
            <label for="eventName" class="form-label">Event Name
              <i class="fa fa-question-circle" data-bs-toggle="tooltip" title="Please enter the Event Name"></i></label>
            <span style="color: #ff6666; font-size: smaller; align-items: right;">* Required</span>
          </div>
          <input type="text" class="form-control" id="eventName" [(ngModel)]="currentEvent.name" name="eventName"
            required #eventNameField="ngModel" placeholder="Please enter the event name here">
          <div *ngIf="eventNameField.invalid && eventNameField.touched" class="alert alert-danger">
            <div *ngIf="eventNameField.errors?.['required']">Event name is required.</div>
          </div>

          <div class="d-flex justify-content-between">
            <label for="eventDescription" class="form-label">Event Description
              <i class="fa fa-question-circle" data-bs-toggle="tooltip"
                title="Please enter the Event Description"></i></label>
            <span style="color: #ff6666; font-size: smaller; align-items: right;">* Required</span>
          </div>
          <textarea type="text" class="form-control" id="eventDescription" [(ngModel)]="currentEvent.description"
            name="eventDescription" required maxlength="255" (input)="updateCharacterCount($event)"
            #eventDescriptionField="ngModel" placeholder="Please enter the event description here"></textarea>
          <div class="character-count">{{characterCount || 0}} / 255 characters</div>
          <div *ngIf="eventDescriptionField.invalid && eventDescriptionField.touched" class="alert alert-danger">
            <div *ngIf="eventDescriptionField.errors?.['required']">Event description is required.</div>
            <!-- <div *ngIf="eventDescriptionField.errors?.['maxlength']">Event description must not exceed 255 characters,
                including spaces.</div> -->
          </div>



          <div class="d-flex justify-content-between">
            <label for="eventDate" class="form-label">Event Date and Time <i class="fa fa-question-circle"
                data-bs-toggle="tooltip" title="Please Select the Event Date and Time"></i>
            </label>
            <span style="color: #ff6666; font-size: smaller; align-items: right;">* Required</span>
          </div>
          <input type="datetime-local" class="form-control" id="eventDate" [(ngModel)]="currentEvent.eventDate"
            name="eventDate" required #eventDateField="ngModel" [min]="minDateTime">
          <div *ngIf="eventDateField.invalid && eventDateField.touched" class="alert alert-danger">
            <div *ngIf="eventDateField.errors?.['required']">Event date and time are required.</div>
            <div *ngIf="eventDateField.errors?.['min'] && !eventDateField.errors?.['required']">Event date and time
              must be in the future.</div>
          </div>

          <div class="d-flex justify-content-between">
            <label for="eventPrice" class="form-label">Event Price
              <i class="fa fa-question-circle" data-bs-toggle="tooltip"
                title="Please enter the ticket price for the Event "></i>
            </label>
            <span style="color: #ff6666; font-size: smaller; align-items: right;">* Required</span>
          </div>
          <input type="number" class="form-control" id="eventPrice" [(ngModel)]="currentEvent.price" name="eventPrice"
            required #eventPriceField="ngModel" min="1" (input)="sanitizeInput(currentEvent.price)"
            placeholder="Please enter the event price here">
          <div *ngIf="eventPriceField.invalid && eventPriceField.touched || invalidLeadingZero"
            class="alert alert-danger">
            <div *ngIf="eventPriceField.errors?.['required']">Event price is required.</div>
            <div *ngIf="eventPriceField.errors?.['min'] && !eventPriceField.errors?.['required']">Event price must be
              greater than 0.</div>
            <div *ngIf="invalidLeadingZero">Event price should not start with 0.</div>
          </div>



          <div class="d-flex justify-content-between">
            <label for="ticketsAvailable" class="form-label">Tickets Available
              <i class="fa fa-question-circle" data-bs-toggle="tooltip"
                title="Please enter the amount of tickets available for the Event"></i>
            </label>
            <span style="color: #ff6666; font-size: smaller; align-items: right;">* Required</span>
          </div>
          <input type="number" class="form-control" id="ticketsAvailable" [(ngModel)]="currentEvent.tickets_Available"
            name="ticketsAvailable" required #ticketsAvailableField="ngModel" min="1" [readonly]="editingEvent"
            placeholder="Please enter the tickets available here">
          <div *ngIf="ticketsAvailableField.invalid && ticketsAvailableField.touched" class="alert alert-danger">
            <div *ngIf="ticketsAvailableField.errors?.['required']">Event price is required.</div>
            <div *ngIf="ticketsAvailableField.errors?.['min'] && !ticketsAvailableField.errors?.['required']">Tickets
              Availbale must be
              greater than 0.</div>
          </div>

          <!-- Event Type Selection -->
          <div class="d-flex justify-content-between">
            <label for="eventType" class="form-label">Event Type
              <i class="fa fa-question-circle" data-bs-toggle="tooltip"
                title="Please select the Event Type"></i></label>
            <span style="color: #ff6666; font-size: smaller; align-items: right;">* Required</span>
          </div>
          <select id="eventType" name="eventType" [(ngModel)]="currentEvent.eventTypeID" #eventTypeField="ngModel"
            class="form-control">
            <!-- Placeholder -->
            <option [value]="undefined" disabled selected>Select Event Type</option>
            <!-- Options -->
            <option *ngFor="let eventType of eventTypes" [value]="eventType.eventTypeID">{{eventType.eventTypeName}}
            </option>
          </select>
          <div *ngIf="eventTypeField.touched && (eventTypeField.value == 0 || eventTypeField.value === undefined)"
            class="alert alert-danger">
            <div>Event Type is required.</div>
          </div>




          <div class="d-flex justify-content-between">
            <label for="earlyBird" class="form-label">Early Bird
              <i class="fa fa-question-circle" data-bs-toggle="tooltip"
                title="Please select the early bird option applicable for the Event"></i>
            </label>
            <span style="color: #ff6666; font-size: smaller; align-items: right;">* Required</span>
          </div>
          <select id="earlyBirdID" name="earlyBirdID" [(ngModel)]="currentEvent.earlyBirdID" #earlyBirdField="ngModel"
            class="form-control" [disabled]="editingEvent">
            <!-- Placeholder -->
            <option [value]="undefined" disabled selected>Select Early Bird</option>
            <!-- Options -->
            <option [value]="0">No Early Bird</option>
            <option *ngFor="let earlyBird of earlyBirds" [value]="earlyBird.earlyBirdID">{{earlyBird.limit}} Tickets
              at {{earlyBird.percentage}}%</option>
          </select>
          <div
            *ngIf="earlyBirdField.touched && (earlyBirdField.value === null || earlyBirdField.value === '' || earlyBirdField.value === undefined)"
            class="alert alert-danger">
            <div>Early Bird option is required.</div>
          </div>






          <!---------------------------------------------------------------------------------------------------------->
          <div class="d-flex justify-content-between">
            <label for="eventImage" class="form-label">Event Image
              <i class="fa fa-question-circle" data-bs-toggle="tooltip"
                title="Please select the image used for the Event"></i>
            </label>
            <span style="color: #ff6666; font-size: smaller; align-items: right;">* Required</span>
          </div>
          <input type="file" class="form-control" id="eventImage" accept=".png, .jpg, .jpeg"
            (change)="onFileSelected($event)">
          <!-- Display error if no file is uploaded or invalid type -->
          <div *ngIf="(!fileUploaded || invalidFileType) && eventForm.submitted" class="alert alert-danger">
            Valid event image (PNG or JPEG) is required.
          </div>

          <div *ngIf="displayedEventImageURL || editingEvent" class="mb-3">
            <img [src]="displayedEventImageURL ? displayedEventImageURL : currentEventImageURL" alt="Selected Image"
              class="img-thumbnail">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeEventModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="submitEventForm(eventForm); onSubmitClick()"
          [disabled]="earlyBirdField.value == '' || earlyBirdField.value === undefined || eventTypeField.value==0 || eventTypeField.value === undefined || eventForm.invalid || (!fileUploaded || invalidFileType) || isSubmitting">{{editingEvent?
          'Save Changes' : 'Save'}}</button>
      </div>
    </div>
  </div>


<br>
<br>
<br>
<br>
<br>