table {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  table {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 20px 0;
  }

  .btn-sm {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
  }

  .custom-table td, .custom-table th {
    padding: 12px 15px;
    text-align: left;
  }
  
#eventImage {
  position: relative;
  color: transparent;
  --dynamic-content: 'Pick an image file'; /* default content */
}

#eventImage::after {
  content: var(--dynamic-content);  /* Using the CSS variable here */
  color: black;
  position: absolute;  /* Absolute position within #filePath */
  left: 120px;  /* Adjust these values for desired positioning */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;  /* Make sure it doesn't interfere with user interactions */
}


.sortable {
  cursor: pointer;
}

.sortable:hover {
  background-color: #f2f2f2; /* or any other color */
}

.sort-icon {
  font-weight: bold;
}


.header-cell {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header-cell:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.sort-icon .arrow {
  font-weight: bold;
}

.fixed-width-btn {
  width: 150px;  /* Set the width as appropriate */
}

.align-right {
  float: right;
  padding-right: 1%;
}

.container-right {
  text-align: right;
  padding-right: 2%;
}
