<br>
<br>

<div class="col">
  <h1>Client Orders</h1>
</div>
<div class="row mb-3">
  <div class="col-md-6">
    <input type="text" class="form-control" placeholder="Search by Order Reference" 
           [(ngModel)]="searchWineRef" (input)="onSearchChange()">
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-6 offset-md-0.1">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" 
               (click)="togglePastOrders()" [checked]="showPastOrders">
        <label class="form-check-label" for="flexSwitchCheckChecked">
            <span class="offset-label current-label">All Orders</span>
            <span class="offset-label past-label">Current Orders</span>
        </label>
      </div>
  </div>
</div>
<!-- Rest of your code -->

<div class="row align-items-center">
  <!-- Check if there are any orders -->
  <div *ngIf="orders.length > 0; else noOrders">
    <!-- Iterate over each order -->
    <div *ngFor="let order of wineOrdersDisplay">
      <!-- Display basic order details in a card-like structure for neatness -->
      <div class="card mb-3">
        <div class="card-header bg-primary text-white">Order ID: {{ order.wineOrderId }}</div>
        <div class="card-body">
          <p>Order Total: R{{ order.orderTotal }}</p>
          <p>Customer ID: {{ order.customerId }}</p>
          <p>Order Date: {{ order.orderDate }}</p>
          <p>Order reference: {{order.orderRefNum | uppercase}}</p>

          <!-- Show "Mark as Placed" only if the status is 1 -->
          <button *ngIf="order.orderStatusId === 1" class="btn btn-warning"
            (click)="updateOrderStatus(order.wineOrderId, 2); AddAuditLog('Client Order Status: Placed')">Mark as Placed</button>

          <!-- Existing buttons, but now they are displayed conditionally -->
          <div *ngIf="order.orderStatusId !== 1">
            <button class="btn btn-success" [disabled]="order.orderStatusId !== 2"
              (click)="updateOrderStatus(order.wineOrderId, 3); AddAuditLog('Client Order Status: Received')">Mark as Received</button><br /><br />
            <button class="btn btn-primary" [disabled]="order.orderStatusId !== 3"
              (click)="updateOrderStatus(order.wineOrderId, 4); AddAuditLog('Client Order Status: Collected')">Mark as Collected</button>
          </div>


          <!-- Create a table for order items -->
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Wine Name</th>
                <th scope="col">Quantity</th>
              </tr>
            </thead>
            <tbody>
              <!-- Iterate over each order item -->
              <tr *ngFor="let item of order.orderItems">
                <td>{{ item.wine?.name }}</td>
                <td>{{ item.quantity }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- If there are no orders, display a message -->
  <ng-template #noOrders>
    <div class="text-center">
      <h3>No orders found.</h3>
    </div>
  </ng-template>


