<div class="sidebar">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" (click)="showWineSubnav = !showWineSubnav">
      <a class="nav-link">
        <i class="bi bi-basket me-2"></i>
        <span style="margin-top: 10px;">Wine</span>
        <i class="bi bi-chevron-down" style="margin-left: 15px;"></i>
      </a>
      <ul *ngIf="showWineSubnav" class="nav flex-column ml-3 sub-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/wine">
            <span>Wine</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/varietal">
            <span>Varietal</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/type">
            <span>Type</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/inventory" routerLinkActive="active">
        <i class="bi bi-box-seam me-2"></i>
        <span>Inventory</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/event" routerLinkActive="active">
        <i class="bi bi-calendar-event me-2"></i>
        <span>Event</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/faq" routerLinkActive="active">
        <i class="bi bi-question-circle me-2"></i>
        <span>FAQ</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/supplier" routerLinkActive="active">
        <i class="bi bi-truck me-2"></i>
        <span>Supplier</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/report" routerLinkActive="active">
        <i class="bi bi-file-earmark-bar-graph me-2"></i>
        <span>Report</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/blacklist" routerLinkActive="active">
        <i class="bi bi-x-circle me-2"></i>
        <span>Blacklist</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/vat" routerLinkActive="active">
        <i class="bi bi-currency-dollar me-2"></i>
        <span>VAT</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/employees" routerLinkActive="active">
        <i class="bi bi-person-circle me-2"></i>
        Employees
      </a>
    </li>
  </ul>
</div>
