<div class="sidebar">
  <button class="sidebar-toggle d-lg-none" type="button" (click)="toggleSidebar()">
    <i class="bi bi-list"></i>
  </button>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" (click)="showWineSubnav = !showWineSubnav">
      <a class="nav-link">
        <i class="bi bi-basket me-2"></i>
        <span style="margin-top: 10px;">Wine</span>
        <i class="bi bi-chevron-down" style="margin-left: 15px;"></i>
      </a>
      <ul *ngIf="showWineSubnav" class="nav flex-column ml-3 sub-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/wine">
            <span>Wine</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/varietal">
            <span>Varietal</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/type">
            <span>Type</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/discount">
            <span>Discount</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/inventory" routerLinkActive="active">
        <i class="bi bi-box-seam me-2"></i>
        <span>Inventory</span>
      </a>
    </li>
    <li class="nav-item" (click)="showEventSubnav = !showEventSubnav">
      <a class="nav-link">
        <i class="bi bi-calendar-event me-2"></i>
        <span>Event</span>
        <i class="bi bi-chevron-down" style="margin-left: 15px;"></i>
      </a>
      <ul *ngIf="showEventSubnav" class="nav flex-column ml-3 sub-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/event">
            <span>Event</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/eventtype">
            <span>Type</span>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/eventprice">
            <span>Price</span>
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/earlybird">
            <span>Early Bird</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/faq" routerLinkActive="active">
        <i class="bi bi-question-circle me-2"></i>
        <span>FAQ</span>
      </a>
    </li>
    <li class="nav-item" (click)="showSupplierSubnav = !showSupplierSubnav">
      <a class="nav-link">
        <i class="bi bi-truck me-2"></i>
        <span>Supplier</span>
        <i class="bi bi-chevron-down" style="margin-left: 15px;"></i>
      </a>
      <ul *ngIf="showSupplierSubnav" class="nav flex-column ml-3 sub-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/supplier">
            <span>Suppliers</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/supplierOrder">
            <span>Orders</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/blacklist" routerLinkActive="active">
        <i class="bi bi-x-circle me-2"></i>
        <span>Blacklist</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/vat" routerLinkActive="active">
        <i class="bi bi-currency-dollar me-2"></i>
        <span>VAT</span>
      </a>
    </li>
    <li class="nav-item" (click)="showEmpSubnav = !showEmpSubnav">
      <a class="nav-link">
        <i class="bi bi-basket me-2"></i>
        <span style="margin-top: 10px;">Accounts</span>
        <i class="bi bi-chevron-down" style="margin-left: 15px;"></i>
      </a>
      <ul *ngIf="showEmpSubnav" class="nav flex-column ml-3 sub-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/systemprivileges">
            <span>System Privileges</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/superuser">
            <span>Superuser</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/employees">
            <span>Employees</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/customers">
            <span>Customers</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users">
            <span>Manage accounts</span>
          </a>
        </li>
        
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/clienthome" routerLinkActive="active">
        <i class="bi bi-people-fill me-2"></i>
        Client Side
      </a>
    </li>
    </ul>
    </div>
    
       
    