
<div class="sidebar">
  <button class="sidebar-toggle d-lg-none" type="button" (click)="toggleSidebar()">
    <i class="bi bi-list"></i>
  </button>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" (click)="showWineSubnav = !showWineSubnav">
      <a class="nav-link">
        <i class="bi bi-basket me-2"></i>
        <span style="margin-top: 10px;">Wine</span>
        <i class="bi bi-chevron-down" style="margin-left: 15px;"></i>
      </a>

      
<!-- UL with Wine Subnav -->
<ul *ngIf="showWineSubnav" class="nav flex-column ml-3 sub-nav" [@dropdownAnimation]="showWineSubnav ? 'open' : 'closed'" aos="fade-up" (click)="toggleDropdown()">
  <li class="nav-item" style="background-color: rgb(59, 59, 255);">
    <a class="nav-link" routerLink="/wine">
      <i class="fas fa-arrow-right float-left" style="margin-right: 7px;"></i>
      <span style="margin-left: 15px;">Wine</span>
    </a>
  </li>
  <li class="nav-item" style="background-color: rgb(59, 59, 255);">
    <a class="nav-link" routerLink="/varietal">
      <i class="fas fa-arrow-right float-left" style="margin-right: 7px;"></i>
      <span style="margin-left: 15px;">Varietal</span>
    </a>
  </li>
  <li class="nav-item" style="background-color: rgb(59, 59, 255);">
    <a class="nav-link" routerLink="/type">
      <i class="fas fa-arrow-right float-left" style="margin-right: 7px;"></i>
      <span style="margin-left: 15px;">Type</span>
    </a>
  </li>
  <li class="nav-item" style="background-color: rgb(59, 59, 255);">
    <a class="nav-link" routerLink="/discount">
      <i class="fas fa-arrow-right float-left" style="margin-right: 7px;"></i>
      <span style="margin-left: 15px;">Discount</span>
    </a>
  </li>
</ul>
 
    </li>
    <li class="nav-item" (click)="showInventorySubnav = !showInventorySubnav">
      <a class="nav-link">
        <i class="bi bi-list-ol me-2"></i>
        <span>Inventory</span>
        <i class="bi bi-chevron-down" style="margin-left: 15px;"></i>
      </a>
          <ul *ngIf="showInventorySubnav" class="nav flex-column ml-3 sub-nav">
            <li class="nav-item" style="background-color: rgb(59, 59, 255);">
              <a class="nav-link" routerLink="/inventory">
                <i class="fas fa-arrow-right float-left" style="margin-right: 7px;"></i>
                <span style="margin-left: 15px;">Inventory</span>
              </a>
            </li>
            <li class="nav-item" style="background-color: rgb(59, 59, 255);">
              <a class="nav-link" routerLink="/writeoff">
                <i class="fas fa-arrow-right float-left" style="margin-right: 7px;"></i>
                <span style="margin-left: 15px;">Write-Off Reasons</span>
              </a>
            </li>
          </ul>
      </li>

    <li class="nav-item" (click)="showEventSubnav = !showEventSubnav">
      <a class="nav-link">
        <i class="bi bi-calendar-event me-2"></i>
        <span>Event</span>
        <i class="bi bi-chevron-down" style="margin-left: 15px;"></i>
      </a>
      
<!-- UL with Event Subnav -->
<ul *ngIf="showEventSubnav" class="nav flex-column ml-3 sub-nav">
  <li class="nav-item" style="background-color: rgb(59, 59, 255);">
    <a class="nav-link" routerLink="/event">
      <i class="fas fa-arrow-right float-left" style="margin-right: 7px;"></i>
      <span style="margin-left: 15px;">Event</span>
    </a>
  </li>
  <li class="nav-item" style="background-color: rgb(59, 59, 255);">
    <a class="nav-link" routerLink="/earlybird">
      <i class="fas fa-arrow-right float-left" style="margin-right: 7px;"></i>
      <span style="margin-left: 15px;">Early Bird</span>
    </a>
  </li>
  <li class="nav-item" style="background-color: rgb(59, 59, 255);">
    <a class="nav-link" routerLink="/calendar">
      <i class="fas fa-arrow-right float-left" style="margin-right: 7px;"></i>
      <span style="margin-left: 15px;">Event Calendar</span>
    </a>
  </li>
</ul>

    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/adminOrder" routerLinkActive="active">
        <i class="bi bi-cash me-2"></i>
        <span>Orders</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/faq" routerLinkActive="active">
        <i class="bi bi-question-circle me-2"></i>
        <span>FAQ</span>
      </a>
    </li>
    <li class="nav-item" (click)="showSupplierSubnav = !showSupplierSubnav">
      <a class="nav-link">
        <i class="bi bi-truck me-2"></i>
        <span>Supplier</span>
        <i class="bi bi-chevron-down" style="margin-left: 15px;"></i>
      </a>
      <ul *ngIf="showSupplierSubnav" class="nav flex-column ml-3 sub-nav">
        <li class="nav-item" style="background-color: rgb(59, 59, 255);">
          <a class="nav-link" routerLink="/supplier">
            <i class="fas fa-arrow-right float-left" style="margin-right: 7px;"></i>
            <span style="margin-left: 15px;">Suppliers</span>
          </a>
        </li>
        <li class="nav-item" style="background-color: rgb(59, 59, 255);">
          <a class="nav-link" routerLink="/supplierOrder">
            <i class="fas fa-arrow-right float-left" style="margin-right: 7px;"></i>
            <span style="margin-left: 15px;">Orders</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/blacklist" routerLinkActive="active">
        <i class="bi bi-x-circle me-2"></i>
        <span>Blacklist</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/refundrequest" routerLinkActive="active">
        <i class="bi bi-coin me-2"></i>
        <span>Refunds</span>
      </a>
    </li>

    <!-- <li class="nav-item" (click)="showRefundSubnav = !showRefundSubnav">
      <a class="nav-link">
        <i class="bi bi-coin me-2"></i>
        <span>Refunds</span>
        <i class="bi bi-chevron-down" style="margin-left: 15px;"></i>
      </a>
    <ul *ngIf="showRefundSubnav" class="nav flex-column ml-3 sub-nav">
      <li class="nav-item" style="background-color: rgb(59, 59, 255);">
        <a class="nav-link" routerLink="/refundrequests">asdf
          <i class="fas fa-arrow-right float-left" style="margin-right: 7px;"></i>
          <span style="margin-left: 15px;">Refund Requests</span>
        </a>
      </li>
      
    </ul> -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/vat" routerLinkActive="active">
        <i class="bi bi-currency-dollar me-2"></i>
        <span>VAT</span>
      </a>
    </li>
    <li class="nav-item" (click)="showEmpSubnav = !showEmpSubnav">
      <a class="nav-link">
        <i class="bi bi-basket me-2"></i>
        <span>Accounts</span>
        <i class="bi bi-chevron-down" style="margin-left: 15px;"></i>
      </a>
<ul *ngIf="showEmpSubnav" class="nav flex-column ml-3 sub-nav">
  <li class="nav-item" style="background-color: rgb(59, 59, 255);">
    <a class="nav-link" routerLink="/systemprivileges">
      <i class="fas fa-arrow-right float-left" style="margin-right: 7px;"></i>
      <span>System Privileges</span>
    </a>
  </li>
  <li class="nav-item" style="background-color: rgb(59, 59, 255);">
    <a class="nav-link" routerLink="/superuser">
      <i class="fas fa-arrow-right float-left" style="margin-right: 7px;"></i>
      <span>Superuser</span>
    </a>
  </li>
  <li class="nav-item" style="background-color: rgb(59, 59, 255);">
    <a class="nav-link" routerLink="/employees">
      <i class="fas fa-arrow-right float-left" style="margin-right: 7px;"></i>
      <span>Employees</span>
    </a>
  </li>
  <li class="nav-item" style="background-color: rgb(59, 59, 255);">
    <a class="nav-link" routerLink="/customers">
      <i class="fas fa-arrow-right float-left" style="margin-right: 7px;"></i>
      <span>Customers</span>
    </a>
  </li>
  <li class="nav-item" style="background-color: rgb(59, 59, 255);">
    <a class="nav-link" routerLink="/users">
      <i class="fas fa-arrow-right float-left" style="margin-right: 7px;"></i>
      <span>Manage accounts</span>
    </a>
  </li>
</ul>
    </li>

<li class="nav-item" (click)="showReportSubnav = !showReportSubnav">
  <a class="nav-link">
    <i class="bi bi-bar-chart-fill me-2"></i>
    <span>Reports</span>
    <i class="bi bi-chevron-down" style="margin-left: 15px;"></i>
  </a>
  <ul *ngIf="showReportSubnav" class="nav flex-column ml-3 sub-nav">
    <li class="nav-item" style="background-color: rgb(59, 59, 255);">
      <a class="nav-link" routerLink="/report">
        <i class="fas fa-arrow-right float-left" style="margin-right: 7px;"></i>
        <span style="margin-left: 15px;">Reports</span>
      </a>
    </li>
    <li class="nav-item" style="background-color: rgb(59, 59, 255);">
      <a class="nav-link" routerLink="/charts">
        <i class="fas fa-arrow-right float-left" style="margin-right: 7px;"></i>
        <span style="margin-left: 15px;">Charts</span>
      </a>
    </li>
  </ul>
</li>

    
    <li class="nav-item">
      <a class="nav-link" routerLink="/auditlogs" routerLinkActive="active">
        <i class="bi bi-file-text"></i>
        Audit Logs
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/help" routerLinkActive="active">
        <i class="bi bi-question-circle me-2"></i>
        <span>Help</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/clienthome" routerLinkActive="active">
        <i class="bi bi-people-fill me-2"></i>
        Client Side
      </a>
    </li>
    </ul>
    </div>
 