 <!-- Varietal Table -->
 <br>
 <br>

 <div class="row align-items-center mb-3" style="margin-top:15px ;">
    <div class="col-md-6">
      <h2>Varietal</h2>    
    
      <div class="row mb-3">
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="Search Varietals" [(ngModel)]="searchText" (input)="searchVarietals()">
        </div>
      </div>

    </div>
    <div class="col-md-6 text-end">
      <button class="btn btn-success" (click)="openAddVarietalModal()">
        <i class="fas fa-plus"></i> Add
      </button>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Wine Type</th>
        <th scope="col">Blend</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let varietal of (searchText ? filteredVarietals : varietals)">
        <td>{{ varietal.name }}</td>
        <td>{{ varietal.description }}</td>
        <td>{{varietal.wineType?.name}}</td>
        <td style="text-transform: uppercase;" >{{varietal.blend}}</td>
        <td>
          <button class="btn btn-primary"
            (click)="varietal.varietalID !== undefined && openEditVarietalModal(varietal.varietalID)"
            style="margin-right: 4px;">
            <i class="fas fa-pencil-alt"></i>
          </button>

          <button class="btn btn-danger"
            (click)="varietal.varietalID !== undefined && openDeleteVarietalModal(varietal)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center" *ngIf="varietals.length === 0">
    <h3>No varietals currently in your system.</h3>
  </div>

  <!-- Add/Edit Varietal Modal -->
  <div class="modal" tabindex="-1" [ngClass]="{'show': showVarietalModal}"
  [ngStyle]="{'display': showVarietalModal ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">{{editingVarietal ? 'Edit Varietal' : 'Add Varietal'}}</h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeVarietalModal()"></button>
      </div>
      <div class="modal-body">
        <form #varietalForm="ngForm" (ngSubmit)="submitVarietalForm(varietalForm); onSubmitClick()">

          <div class="mb-3">
            <div class="d-flex justify-content-between" style="margin: 0px;">
              <label for="varietalName" class="form-label">Varietal Name <i class="fa fa-question-circle" data-bs-toggle="tooltip"
                title="Please enter the Wine Varietal Name"></i></label>
              <span style="color: #ff6666; font-size: smaller;">* Required</span>  
            </div>
            <input type="text" class="form-control" id="varietalName"  placeholder="Enter varietal name" [(ngModel)]="currentVarietal.name"
              name="varietalName" required #nameField="ngModel">
            <div *ngIf="nameField.invalid && nameField.touched" class="alert alert-danger">
              <div *ngIf="nameField.errors?.['required']">Varietal name is required.</div>
            </div>
          </div>

          <div class="mb-3">
            <div class="d-flex justify-content-between" style="margin: 0px;">
                <label for="varietalDescription" class="form-label">Varietal Description <i class="fa fa-question-circle" data-bs-toggle="tooltip"
                title="Please enter the Wine Varietal Description"></i></label>            
                <span style="color: #ff6666; font-size: smaller;">* Required</span>
            </div>
            <textarea type="text" class="form-control" id="varietalDescription"  placeholder="Enter varietal description" [(ngModel)]="currentVarietal.description"
              name="varietalDescription" required #descField="ngModel"></textarea>
            <div *ngIf="descField.invalid && descField.touched" class="alert alert-danger">
              <div *ngIf="descField.errors?.['required']">Varietal description is required.</div>
            </div>
          </div>

          
          <div class="mb-3">
            <div class="d-flex justify-content-between" style="margin: 0px;">
                <label for="wineType" class="form-label">Wine Type <i class="fa fa-question-circle" data-bs-toggle="tooltip"
                  title="Please select the appropriate the Wine Type"></i></label>                
                <span style="color: #ff6666; font-size: smaller;">* Required</span> 
            </div>
            <select class="form-control" id="wineType" [(ngModel)]="currentVarietal.wineTypeID" name="wineType" required
              #wineTypeField="ngModel">
              <option [ngStyle]="{'color': 'grey'}" [value]="'0'">----Select a wine type----</option>
              <option *ngFor="let winetype of wineTypes" [value]="winetype.wineTypeID">{{winetype.name}}</option>
            </select>
            <div *ngIf="(wineTypeField.value == '0' || wineTypeField.invalid) && wineTypeField.touched"
              class="alert alert-danger">
              <div>Wine type is required.</div>
            </div>
          </div>

          <div class="mb-3">
            <div class="d-flex justify-content-between" style="margin: 0px;">
              <label for="blend" class="form-label">Blend <i class="fa fa-question-circle" data-bs-toggle="tooltip"
                title="Is this varietal a blend?"></i></label>
                <span style="color: #ff6666; font-size: smaller;">* Required</span>  

            </div>
          

            <select class="form-control" id="blend" [(ngModel)]="currentVarietal.blend" name="blend" required #blendField="ngModel">
                <option [ngValue]="true">YES</option>
                <option [ngValue]="false">NO</option>
            </select>
            <div *ngIf="blendField.invalid && blendField.touched" class="alert alert-danger">
                <div *ngIf="blendField.errors?.['required']">Blend selection is required.</div>
            </div>
        </div>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeVarietalModal()">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="varietalForm.invalid" (click)="submitVarietalForm(varietalForm); onSubmitClick()">{{editingVarietal ?
          'Save Changes' : 'Save'}}</button>
      </div>
    </div>
  </div>
</div>

 <!-- Delete Varietal Modal -->
 <div class="modal" tabindex="-1" [ngClass]="{'show': showDeleteVarietalModal}"
 [ngStyle]="{'display': showDeleteVarietalModal ? 'block' : 'none'}">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <h2 class="modal-title">Delete Confirmation</h2>
       <button type="button" class="btn-close" aria-label="Close" (click)="closeDeleteVarietalModal()"></button>
     </div>
     <div class="modal-body">
       Are you sure you want to delete this varietal?
       <p></p>
       <p>Varietal Name: {{ varietalToDeleteDetails?.name }}</p>
       <p>Varietal Description: {{ varietalToDeleteDetails?.description }}</p>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-secondary" (click)="closeDeleteVarietalModal()">No</button>
       <button type="button" class="btn btn-primary" (click)="deleteVarietal(); AddAuditLog('Wine Varietal: Deleted')">Yes</button>
     </div>
   </div>
 </div>
</div>

<br>
<br>
<br>
<br>
<br>
