<br>
<br>
<div class="row align-items-center">
  <div class="col">
    <h1>VAT</h1>
  </div>
  <div class="col text-end">
    <button class="btn btn-success" (click)="openAddVatModal()">
      <i class="fas fa-plus"></i> VAT
    </button>
  </div>
</div>

<!-- Add/Edit VAT Modal -->
<div class="modal" tabindex="-1" [ngClass]="{'show': showModal}" [ngStyle]="{'display': showModal ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{editingVat ? 'Edit VAT' : 'Add VAT'}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeVatModal()"></button>
      </div>
      <div class="modal-body">
        <form #vatForm="ngForm" (ngSubmit)="submitVatForm(vatForm)">
          <div class="mb-3">
            <label for="percentage" class="form-label">Percentage</label>
            <input type="number" class="form-control" id="percentage" [(ngModel)]="currentVat.percentage" name="percentage" required>
          </div>
          
          <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" id="date" [(ngModel)]="currentVat.date" name="date" required [min]="minDate">
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeVatModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="submitVatForm(vatForm)">{{editingVat ? 'Save Changes' : 'Save'}}</button>
      </div>
    </div>
  </div>
</div>

<!-- Table -->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="header-cell">Percentage</th>
      <th scope="col" class="header-cell">Date</th>
      <th scope="col" class="header-cell">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vat of vats">
      <td>{{ vat.percentage }}</td>
      <td>{{ vat.date }}</td>
      <td>
        <button class="btn btn-primary" (click)="vat.vatid !== undefined && openEditVatModal(vat.vatid)" style="margin-right: 4px;">
          <i class="fas fa-pencil-alt"></i>
        </button>
        <button class="btn btn-danger" (click)="vat.vatid !== undefined && deleteVAT(vat.vatid)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
      </tr>
    </tbody>
  </table>
 
  
  