<br/>
<br/>
<div class="row align-items-center">
  <div class="col">
    <h1>VAT</h1>
  </div>
  <div class="col text-end">    
    <button class="btn btn-success" (click)="openAddVatModal()">
      <i class="fas fa-plus"></i> Add
    </button>
  </div>
</div>

<!-- Add/Edit VAT Modal -->
<div class="modal" tabindex="-1" [ngClass]="{'show': showModal}" [ngStyle]="{'display': showModal ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{editingVat ? 'Edit VAT' : 'Add VAT'}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeVatModal()"></button>
      </div>
      <div class="modal-body">
        <form #vatForm="ngForm" (ngSubmit)="submitVatForm(vatForm)">
          <div class="mb-3">
            <label for="percentage" class="form-label">Percentage</label>
            <input type="number" class="form-control" id="percentage" [(ngModel)]="currentVat.percentage" name="percentage" required [min]="0.01" [max]="100" #percentageField="ngModel">
            <div *ngIf="percentageField.invalid && percentageField.touched" class="alert alert-danger">
              <div *ngIf="percentageField.errors?.['required']">Percentage is required.</div>
              <div *ngIf="percentageField.errors?.['min']">Percentage cannot be zero.</div>
              <div *ngIf="percentageField.errors?.['max']">Percentage cannot exceed 100.</div> <!-- Add this validation message -->
            </div>
          </div>
          
          
          <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" id="date" [(ngModel)]="currentVat.date" name="date" required [min]="minDate">
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeVatModal()">Close</button>
            <button type="submit" class="btn btn-primary" [disabled]="vatForm.invalid">
              {{editingVat ? 'Save Changes' : 'Save'}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Table -->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Percentage</th>
      <th scope="col">Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vat of vats">
      <td>{{ vat.percentage }}</td>
      <td>{{ vat.date }}</td>
      <td>
        <button class="btn btn-primary" (click)="vat.vatid !== undefined && openEditVatModal(vat.vatid)" style="margin-right: 4px;">
          <i class="fas fa-pencil-alt"></i>
        </button>
      </td>
      </tr>
    </tbody>
  </table>
 
  
  