<br>
<br>
<div class="row align-items-center mb-3 header">
  <div class="col-md-6">
    <h2 class="title">My Orders</h2>
  </div>
</div>



<div *ngIf="orders.length === 0" class="my-5 text-center">
  <p >You have not purchased any Wine Orders yet.</p>
</div>

<div *ngFor="let order of orders; let i = index" class="my-3">
  <div class="card shadow p-3 mb-5 bg-light rounded">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <h2 class="card-title">Order # {{ i + 1 }} </h2>
        <h3 class="text-muted">Reference code: {{order.orderRefNum | uppercase}}</h3>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <h4 class="custom-text-size">Order Date: {{ order.orderDate | date:'longDate' }}</h4>
      </div>
      <!-- Order Status Display -->
      <div class="d-flex align-items-center mt-2">
        <br />
        <p class="card-text" [ngClass]="{
          'status-processed': order.orderStatusId === 1, 
          'status-shipped': order.orderStatusId === 2,
          'status-ready-for-pickup': order.orderStatusId === 3, 
          'status-collected': order.orderStatusId === 4
         }">
          <i *ngIf="order.orderStatusId === 1" class="fas fa-spinner"></i>
          <i *ngIf="order.orderStatusId === 2" class="fas fa-truck"></i>
          <i *ngIf="order.orderStatusId === 3" class="fas fa-store"></i>
          <i *ngIf="order.orderStatusId === 4" class="fas fa-check-circle"></i>

          {{ order.orderStatusId === 1 ? 'Processing Your Order' :
          order.orderStatusId === 2 ? 'Shipment On The Way' :
          order.orderStatusId === 3 ? 'Ready For Pickup' : 'Order Successfully Collected' }}
        </p>
      </div>


      <div class="mt-4">
        <h4 class="custom-text-size text-muted">Order Items:</h4>
        <div *ngFor="let item of order.orderItems">
          <h4 class="custom-text-size pl-3">{{ getWineName(item.wineId) }} - Quantity: {{ item.quantity }}</h4>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <div>
          <h4 class="custom-text-size">Order Total: {{ order.orderTotal | number }}</h4>
        </div>
        <button *ngIf="!order.isRefunded && checkRefundAvailability(order) && order.orderStatusId === 4"
          class="btn btn-outline-danger" (click)="openRefundModal(order)">
          Request Refund
        </button>
        <p *ngIf="!order.isRefunded && !checkRefundAvailability(order)" class="text-warning">Refund unavailable</p>
        <p *ngIf="order.isRefunded" class="text-warning">Refund already placed for this order</p>
      </div>
    </div>
  </div>
</div>




<!-- Refunds request pop up modal -->
<div class="modal" tabindex="-1" [ngClass]="{'show': showRefundModal}" [ngStyle]="{'display': showRefundModal ? 'block' : 'none'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">Request Refund
        <button type="button" class="btn-close" aria-label="Close" (click)="closeRefundModal()"></button>
      </div>
      <div class="modal-body">
        <form #refundForm="ngForm" (ngSubmit)="submitRefundForm(refundForm)">
          <div *ngFor="let item of currentOrderItems" class="card mb-3">
            <div class="card-header text-center">
              <h4>{{ item.wine.name }}</h4>
            </div>
            <div class="card-body">
              <div class="mb-3">
                <label for="quantity" class="form-label">Select the quantity you want refunded: </label>
                <select class="form-control" [(ngModel)]="item.refundQuantity" name="refundQuantity{{ item.wineId }}" required>
                  <option value="" disabled selected>Select a quantity</option>
                  <option *ngFor="let num of [].constructor(item.quantity+1); let i = index" [value]="i">{{ i }}</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="refundDescription" class="form-label">Reason for refund</label>
                <input type="text" class="form-control" [(ngModel)]="item.refundReason" name="refundReason{{ item.wineId }}" [required]="item.refundQuantity > 0 || currentOrderItems.length === 1" placeholder="Please enter your refund reason here.">
                <div *ngIf="item.refundQuantity > 0 && !item.refundReason" class="alert alert-danger">
                  Reason is required when refunding this wine.
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeRefundModal()">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="refundForm.invalid" (click)="submitRefundForm(refundForm)">Submit Request</button>
      </div>
    </div>
  </div>
</div>

