<div *ngIf="orders.length === 0" class="my-5 text-center">
  <p class="lead">You have not placed any orders yet.</p>
</div>

<div *ngFor="let order of orders; let i = index" class="my-3">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Order # {{ i + 1 }} </h2>
      <h3>Reference code: {{order.orderRefNum | uppercase}}</h3>
      <h5 class="card-subtitle mb-2">Order Date: {{ order.orderDate | date:'longDate' }}</h5>
      <div *ngFor="let item of order.orderItems">
        <p class="card-text">Wine Name: {{ getWineName(item.wineId) }} - Quantity: {{ item.quantity }}</p>
      </div>
      

      <!-- Order Status Display -->
      <!-- <div [ngClass]="{'green': order.received, 'red': !order.received}" class="dot"></div> -->
      <p class="card-text" [ngClass]="{'green': order.received, 'red': !order.received}">
        {{ order.received ? 'Order ready for pickup' : 'Order being processed' }}
      </p>

      <br>
      <br>
      <div>
        Order Total: {{ order.orderTotal | number }}
      </div>
      <button class="btn btn-secondary" (click)="openRefundModal(order.wineOrderId, order.wineOrderId)">Request Refund</button>

    </div>
  </div>
</div>

<!--Refunds request pop up modal-->
<div class="modal" tabindex="-1" [ngClass]="{'show': showRefundModal}" [ngStyle]="{'display': showRefundModal ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Request Refund</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeRefundModal()"></button>
      </div>
      <div class="modal-body">
        <form #refundForm="ngForm" (ngSubmit)="submitRefundForm(refundForm)">
          <div class="mb-3">
            <label for="refundDescription" class="form-label">Reason for refund</label>
            <input type="text" class="form-control" id="refundDescription" [(ngModel)]="currentRefundDescription" name="refundDescription" required #descriptionField="ngModel" placeholder="Please enter the reason for the refund request here">
            <div *ngIf="descriptionField.invalid && descriptionField.touched" class="alert alert-danger">
              <div *ngIf="descriptionField.errors?.['required']">Description is required.</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeRefundModal()">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="refundForm.invalid" (click)="submitRefundForm(refundForm)">Submit Request</button>
      </div>
    </div>
  </div>
</div>
