<br>
<br>
<div class="container">
  <h2>Complete System Audit Log</h2>
  <!-- <div class="row mb-3">
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Search Early" [(ngModel)]="searchQuery"
        (input)="filterAuditTrails()">
    </div>
  </div> -->

  <!-- Add a single search input field -->
  <div class="row">
    <div class="col-md-8">
      <input
        type="text"
        class="form-control"
        placeholder="Search"
        [(ngModel)]="searchInput"
        (ngModelChange)="search()"
      />
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="search()">Search</button>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="header-cell">Button Pressed</th>
        <th scope="col" class="header-cell">Username</th>
        <th scope="col" class="header-cell"> User Email</th>
        <th scope="col" class="header-cell"> Transaction Date</th>
        <th scope="col" class="header-cell"> Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of AuditTrail">
        <td>{{ x.buttonPressed }}</td>
        <td>{{ x.userName }}</td>
        <td>{{ x.userEmail }}</td>
        <td>{{ x.transactionDate | date:'dd/MM/yyyy HH:mm' }}</td>
        <td>
          <ng-container *ngIf="x.quantity; else na">
            {{ x.quantity }}
          </ng-container>
          <ng-template #na>NA</ng-template>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center" *ngIf="AuditTrail.length === 0">
    <h3>Nothing in System Audit Log.</h3>
  </div>
</div>

<!-- <div class="pagination">
  <button class="btn btn-light" (click)="previousPage()">
    &laquo; Previous
  </button>
  <span class="page-info">Page {{ currentPage }} of {{ totalPages }}</span>
  <button class="btn btn-light" (click)="nextPage()">
    Next &raquo;
  </button>
</div> -->
