<br>
<br>
<!-- Wine --------------------------------------------------------------------------------------------------------------------->



<!-- Wine Table -->
<div class="row align-items-center mb-3">
  <div class="col-md-6">
    <h2>Wine</h2>

    <div class="row mb-3">
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Search Wines" [(ngModel)]="searchQuery"
          (input)="filterWines()">
      </div>
    </div>

  </div>
  <div class="col-md-6 text-end">
    <button class="btn btn-success" (click)="openAddWineModal()">
      <i class="fas fa-plus"></i> Add
    </button>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <!-- <th scope="col">ID</th> -->
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <!-- <th scope="col">Description</th> -->
      <th scope="col">Vintage</th>
      <th scope="col">Varietal</th>
      <th scope="col">Type</th>
      <!-- <th scope="col">Restock Limit</th> -->
      <th scope="col">Display</th>
      <th scope="col">Price (ZAR)</th>

      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let wine of wines">
      <td>
        <div *ngIf="wine.filePath" class="image-container mb-3">
          &nbsp;
          &nbsp;
          &nbsp;
          <img [src]="wine.filePath" alt="Wine Image" class="img-thumbnail" style="width: 100px; height: 100px;">
        </div>
      </td>
      <td class="align-middle">{{ wine.name }}</td>
      <!-- <td class="align-middle">{{ wine.description }}</td> -->
      <td class="align-middle">{{ wine.vintage }}</td>
      <td class="align-middle">{{ getVarietalName(wine.varietalID) }}</td> <!-- Added Varietal data -->
      <td class="align-middle">{{ getWinetypeName(wine.wineTypeID) }}</td> <!-- Added Type data -->
      <!-- <td class="align-middle">{{ wine.restockLimit }}</td> -->
     
      <td class="align-middle">
        <span *ngIf="wine.displayItem else disabledText"> Enabled</span><ng-template #disabledText>
          Disabled</ng-template>
      </td>
      <td class="align-middle right-align">R{{ wine.price | number:'1.2-2' }}</td>

      <td class="align-middle">
        <button class="btn btn-primary" (click)="wine.wineID !== undefined && openEditWineModal(wine.wineID)"
          style="margin-right: 4px;">
          <i class="fas fa-pencil-alt"></i>
        </button>
        <button class="btn btn-danger" (click)="wine.wineID !== undefined && openDeleteWineModal(wine)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="text-center" *ngIf="wines.length === 0">
  <h3>No wines currently in your system.</h3>
</div>



<!-- Add/Edit Wine Modal -->
<div class="modal" tabindex="-1" [ngClass]="{'show': showWineModal}"
  [ngStyle]="{'display': showWineModal ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{editingWine ? 'Edit Wine' : 'Add Wine'}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeWineModal()"></button>
      </div>
      <div class="modal-body">


        <form #wineForm="ngForm" (ngSubmit)="submitWineForm(wineForm); onSubmitClick()">

           <div class="mb-3">
            <div class="d-flex justify-content-between" style="margin: 0px;">
              <label for="name" class="form-label">Wine Name <i class="fa fa-question-circle" data-bs-toggle="tooltip" title="Please enter the Wine Name"></i></label>
              <span style="color: #ff6666; font-size: smaller;">* Required</span>  
            </div>
            <input type="text" class="form-control" id="name" [(ngModel)]="currentWine.name" name="name" required
              placeholder="Enter wine name" #wineNameField="ngModel">
            <div *ngIf="wineNameField.invalid && wineNameField.touched" class="alert alert-danger">
              <div *ngIf="wineNameField.errors?.['required']">Wine name is required.</div>
            </div>
          </div>

          <div class="mb-3">
            <div class="d-flex justify-content-between" style="margin: 0px;">
              <label for="name" class="form-label">Wine Vintage <i class="fa fa-question-circle" data-bs-toggle="tooltip" title="Please enter the Wine Vintage"></i></label>
              <span style="color: #ff6666; font-size: smaller;">* Required</span>  
            </div>
            <input type="text" class="form-control" id="vintage" [(ngModel)]="currentWine.vintage" name="vintage"
              required placeholder="Enter wine vintage (e.g. 2023)" #wineVintageField="ngModel" pattern="^\d{4}$">
            <div *ngIf="wineVintageField.invalid && wineVintageField.touched" class="alert alert-danger">
              <div *ngIf="wineVintageField.errors?.['required']">Wine vintage is required.</div>
              <div *ngIf="wineVintageField.errors?.['pattern']">Wine Vintage must be a valid Year in format yyyy.</div>
            </div>
          </div>

          <div class="mb-3">
            <div class="d-flex justify-content-between" style="margin: 0px;">
              <label for="name" class="form-label">Wine Tasting Note <i class="fa fa-question-circle" data-bs-toggle="tooltip" title="Please enter the Wine Tasting Note"></i></label>
              <span style="color: #ff6666; font-size: smaller;">* Required</span>  
            </div>
            <textarea type="text" class="form-control" id="wineTastingNote" [(ngModel)]="currentWine.wineTastingNote"
              name="wineTastingNote" required maxlength="255" placeholder="Enter tasting notes" 
              (input)="updateCharacterCount($event)" #wineTastingNoteField="ngModel"></textarea>
            <div class="character-count">{{characterCount || 0}} / 255 characters</div>
            <div *ngIf="wineTastingNoteField.invalid && wineTastingNoteField.touched" class="alert alert-danger">
              <div *ngIf="wineTastingNoteField.errors?.['required']">Wine Tasting Note is required.</div>
            </div>
          </div>


          <div class="mb-3">
            <div class="d-flex justify-content-between" style="margin: 0px;">
              <label for="name" class="form-label">Wine Price <i class="fa fa-question-circle" data-bs-toggle="tooltip" title="Please enter the Wine Price"></i></label>
              <span style="color: #ff6666; font-size: smaller;">* Required</span>  
            </div>
            <input type="number" class="form-control" id="price" [(ngModel)]="currentWine.price" name="price" required
              [min]="0.01" placeholder="Enter wine price" #winePriceField="ngModel">
            <div *ngIf="winePriceField.invalid && winePriceField.touched" class="alert alert-danger">
              <div *ngIf="winePriceField.errors?.['required']">Wine price is required.</div>
              <div *ngIf="winePriceField.errors?.['min']">Wine price cannot be zero.</div>
            </div>
          </div>

          <div class="mb-3">
            <div class="d-flex justify-content-between" style="margin: 0px;">
              <label for="name" class="form-label">Wine Shop Display <i class="fa fa-question-circle" data-bs-toggle="tooltip" title="Wine Shop Display"></i></label>
              <span style="color: #ff6666; font-size: smaller;">* Required</span>  
            </div>
            <select class="form-control" required [(ngModel)]="currentWine.displayItem" id="displayItem"
              name="displayItem" #wineDisplayField="ngModel">
              <option [ngStyle]="{'color': 'grey'}" [value]="null" disabled selected>----Select Display Option----</option>
              <option [value]="true">Yes</option>
              <option [value]="false">No</option>
            </select>
            <div *ngIf="(wineDisplayField.value === null || wineDisplayField.invalid) && wineDisplayField.touched"
              class="alert alert-danger">
              <div>Display in shop selection is required.</div>
            </div>
          </div>



          <!-- Wine Type Dropdown -->
          <div class="mb-3">
            <div class="d-flex justify-content-between" style="margin: 0px;">
              <label for="name" class="form-label">Wine Type <i class="fa fa-question-circle" data-bs-toggle="tooltip" title="Please enter the Wine Type"></i></label>
              <span style="color: #ff6666; font-size: smaller;">* Required</span>  
            </div>
            <select class="form-control" id="wineType" [(ngModel)]="currentWine.wineTypeID" name="wineType" required
              #wineTypeField="ngModel" (change)="onWineTypeChange()">
              <option [ngStyle]="{'color': 'grey'}" [value]="'0'" disabled selected>----Select a Wine Type----</option>
              <option *ngFor="let winetype of winetypes" [value]="winetype.wineTypeID">{{winetype.name}}</option>
            </select>
            <div *ngIf="wineTypeField.invalid && wineTypeField.touched" class="alert alert-danger">
              <div *ngIf="wineTypeField.errors?.['required']">Wine Type is required.</div>
            </div>
          </div>


          <!-- Blend Selection Dropdown -->
          <div class="mb-3" *ngIf="currentWine.wineTypeID && currentWine.wineTypeID !== 0">
            <label for="isBlend" class="form-label">Is it a Blend?</label>
            <select class="form-control" id="isBlend" [(ngModel)]="isBlendSelected" name="isBlend"
              (change)="onBlendChange()">
              <option [ngValue]="null">----Select an option----</option>
              <option [ngValue]="true">YES</option>
              <option [ngValue]="false">NO</option>
            </select>
          </div>

          <!-- Wine Varietal Dropdown -->
          <div class="mb-3"
            *ngIf="currentWine.wineTypeID && currentWine.wineTypeID !== 0 && isBlendSelected !== undefined">
            <div class="d-flex justify-content-between" style="margin: 0px;">
              <label for="name" class="form-label">Wine Varietal <i class="fa fa-question-circle" data-bs-toggle="tooltip" title="Please enter the Wine Varietal(s)"></i></label>
              <span style="color: #ff6666; font-size: smaller;">* Required</span>  
            </div>
            <select class="form-control" id="varietal" [(ngModel)]="currentWine.varietalID" name="varietal" required
              #wineVarietalField="ngModel">
              <option [ngStyle]="{'color': 'grey'}" [value]="'0'">----Select a varietal----</option>
              <option *ngFor="let varietal of filteredVarietals" [value]="varietal.varietalID">{{varietal.name}}
              </option>
            </select>

            <div *ngIf="(wineVarietalField.value == '0' || wineVarietalField.invalid) && wineVarietalField.touched"
              class="alert alert-danger">
              <div>Wine varietal is required.</div>
            </div>
          </div>


          <!---------------------------------------------------------------------------------------------------------->
          <div class="mb-3">
            <div class="d-flex justify-content-between" style="margin: 0px;">
              <label for="name" class="form-label">Wine Image <i class="fa fa-question-circle" data-bs-toggle="tooltip" title="Please select a Wine Image"></i></label>
              <span style="color: #ff6666; font-size: smaller;">* Required</span>  
            </div>
            <input type="file" class="form-control" id="filePath" accept=".png, .jpg, .jpeg"
              (change)="onFileSelected($event)">
            <!-- Display error if no file is uploaded or invalid type -->
            <div *ngIf="(!fileUploaded || invalidFileType) && wineForm.submitted" class="alert alert-danger">
              Valid wine image (PNG or JPEG) is required.
            </div>
          </div>

          <div *ngIf="displayedImageURL || editingWine" class="mb-3">
            <img [src]="displayedImageURL ? displayedImageURL : currentWineImageURL" alt="Selected Image"
              class="img-thumbnail">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeWineModal()">Close</button>
        <button type="button" class="btn btn-primary"
        [disabled]="wineForm.invalid || (editingWine ? false : (!fileUploaded || invalidFileType)) || wineDisplayField.value == 'null' || wineTypeField.value == '0' || isSaving == true"
        (click)="submitWineForm(wineForm)">{{editingWine ? 'Save Changes' : 'Save'}}</button>
      
      </div>

    </div>
  </div>
</div>







<!-- Delete Wine modal -->
<div class="modal" tabindex="-1" [ngClass]="{'show': showDeleteWineModal}"
  [ngStyle]="{'display': showDeleteWineModal ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Confirmation</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeDeleteWineModal()"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this wine?
        <p></p>
        <p>Wine Name: {{ wineToDeleteDetails?.name }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeDeleteWineModal()">No</button>
        <button type="button" class="btn btn-primary" (click)="deleteWine(); AddAuditLog('Wine: Deleted')">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- Wine END --------------------------------------------------------------------------------------------------------------------->