table {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 20px 0;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
}

.image-container {
  position: relative;
  display: inline-block;
  overflow: visible; /* Added to prevent clipping */
}

.image-container:hover img {
  transform: scale(1.5);
  z-index: 1; /* Added to bring the enlarged image to the front */
}

.image-container img {
  transition: transform 0.3s ease;
  max-width: 100%; /* Added to ensure the image fits within the cell */
  height: auto; /* Added to maintain aspect ratio */
}

#filePath {
  position: relative;
  color: transparent;
  --dynamic-content: 'Pick an image file'; /* default content */
}

#filePath::after {
  content: var(--dynamic-content);  /* Using the CSS variable here */
  color: black;
  position: absolute;  /* Absolute position within #filePath */
  left: 120px;  /* Adjust these values for desired positioning */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;  /* Make sure it doesn't interfere with user interactions */
}



