<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel+Decorative">
<div class="container-fluid">
    <div class="row row-heading">
        <div class="col">
            <br />
            <h1 class="selector">Wines</h1>
        </div>
    </div>
</div>
<br>
<br>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let wine of displayedWines">
            <div class="card mb-3 shadow-sm">
                <div class="row g-0">
                    <div class="col-lg-4 col-md-12">
                        <img src="{{ wine.filePath }}" id="card-img" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <div class="card-body">
                            <div class="d-flex justify-content-between" style="margin: 0px;">
                                <h2 class="card-title"><b><span style="font-family: 'Garamond', serif; color: #B55933;">{{ wine.name }}</span></b></h2>
                            </div>
                            <br>
                            <p>Vintage: {{ wine.vintage }}</p>
                            <p>Varietal: {{ wine.varietal.name }}</p>
                            <br>
                            <p>
                                {{ truncateText(wine.wineTastingNote, 100) }}
                                <a href="#" class="btn-description" data-bs-toggle="modal" [attr.data-bs-target]="'#descriptionModal' + wine.wineID">More info</a>                                
                            </p>
                            <br>
                            <p class="card-text"><b>{{ wine.price | currency:'R':'symbol':'1.2-2' }}</b></p>
                            <br>
                            <!-- Inside your ngFor loop -->
                            <div class="cart-icons">
                                <i class="bi bi-cart-dash-fill" (click)="decrementCounter(wine.wineID)"></i>
                                <span class="mx-3">{{ getQuantity(wine.wineID) }}</span>
                                <i class="bi bi-cart-plus-fill" (click)="incrementCounter(wine.wineID)"></i>
                            </div>

                            <br>
                            <!-- Add to Cart button -->
                            <button class="btn-custom" (click)="addToCart(wine)">Add to cart</button>

                            <button class="btn-wishlist" (click)="addToWishlist(wine)">Add to Wishlist</button>
                            <br>


                            <!-- Modal -->
                            <div class="modal fade" [id]="'descriptionModal' + wine.wineID" tabindex="-1"
                                aria-labelledby="descriptionModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content with-background">
                                        <div class="modal-header">
                                            <h1 class="modal-title" id="descriptionModalLabel">
                                                <span style="font-family: 'Garamond', serif; color: #B55933;"><b>{{ wine.name }} Description</b></span>
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body ">
                                            <h3><span style="font-family: 'Garamond', serif; color: #B55933;"><b>Vintage:</b></span></h3>
                                            <p>{{ wine.vintage }}</p>

                                            <h3><span style="font-family: 'Garamond', serif; color: #B55933;"><b>Varietal:</b></span></h3>
                                            <p>{{ wine.varietal.name }}</p>
                                            <p><b>Description:</b></p>
                                            <p>{{ wine.varietal.description }}</p>

                                            <h3><span style="font-family: 'Garamond', serif; color: #B55933;"><b>Wine Type:</b></span></h3>
                                            <p>{{ wine.wineType.name }}</p>
                                            <p><b>Description:</b></p>
                                            <p>{{ wine.wineType.description }}</p>

                                            <h3><span style="font-family: 'Garamond', serif; color: #B55933;"><b>Tasting Note</b></span></h3>
                                            <p>{{ wine.wineTastingNote }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>