@import '~bootstrap-icons/font/bootstrap-icons.css';

.card {
  border: none;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 15px rgba(215, 23, 23, 0.8);
}

.selector {
  font-family: 'Cinzel Decorative', cursive;
}

#card-img {
  margin-top: 30px;
}
  
.cart-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px; /* Adjust as needed */
}

.cart-icons .bi {
  font-size: 24px; /* Adjust as needed */
  color: #B55933; /* Replace 'blue' with the color you prefer */
}

.cart-icons .bi:hover {
  color: #B55933; /* The color when the cart is hovered */
  transform: scale(1.2); /* Increase the size of the cart when hovered */
  transition: all 0.3s ease; /* Transition effect */
}

.btn-custom {
  background-color: #B55933;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin-right: 8px;
}

.btn-custom:hover {
  background-color: #903D25;
}

.btn-wishlist {
  background-color: white;
  color: #B54E33;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin-right: 8px;
}

.btn-wishlist:hover {
  background-color: #F7F7F7;
  border-color: #B55933;
}

.row-cols-1.row-cols-md-3 > .col {
  margin-bottom: 20px; /* Adjust the value as needed */
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.btn-description {
  background-color: white;
  color: #B54E33;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin-right: 8px;
  border-color: #903D25;
}

.btn-description:hover {
  background-color: #F7F7F7;
  border-color: #B55933;
}

.row-heading {
  background-color: #B55933;
  padding: 20px 0;
}

.row-heading h1 {
  font-size: 4rem;
  color: white;
  text-align: center;
}
