.carousel-item img {
    height: 700px; /* Set this to your desired height */
    object-fit: cover; /* This will scale the image to cover the area without stretching it */
    width: 100%; /* This will make sure the image takes the full width of the container */
  }

  #btnEvent{
    height: 100%;
    width: 100%;
  }
  
  .image-overlay {
    position: relative;
}

.image-overlay .glassy-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Adjust as needed */
    height: 60px; /* Adjust as needed */
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-overlay .glassy-background h1 {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 2em;
}


