<div class="container-fluid">
    <div class="row row-heading">
      <div class="col">
        <br />
        <h1 class="selector">Donate</h1>
      </div>
    </div>
  </div>
<br/>
<br/>
  <div class="container">

    <div class="row">
      <!-- Column for the Image -->
      <div class="col-lg-6">
        <img src="assets/Bloved-logo.png" alt="Description" class="img-fluid">
      </div>
      <!-- Column for the Form -->
      <div class="col-lg-6">
        <form>
          <div class="mb-3">
            <label for="amount" class="form-label">Enter the amount you want to donate</label>
            <input type="number" name="amount" class="form-control" id="amount" [(ngModel)]="amount">
          </div>
          <button type="button" class="btn btn-primary" (click)="makeDonation()">Make Crypto Payment</button>
        </form>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-lg-6">
          <!-- First half of the text goes here -->
          Kintsugi, is the Japanese art of mending broken pottery with gold – embracing the scars and increasing the value. That is what B Loved embodies, restoring people and empowering the broken, vulnerable, and abandoned to UNDERSTAND their value. Restoration triggers the images of taking something old and making it new. For us it also means giving someone back what was stolen from them, their future, their health, and most importantly, their hope.
        </div>
        <div class="col-lg-6">
          <!-- Second half of the text goes here -->
          We have developed 4 very unique programs through which we partner with purpose-driven organizations and projects to enable the restoration of as many people as possible. Through our collaborative approach, we have seen millions distributed and many lives changed from 2008 until now. Our programmes range from feeding schemes, youth development and community aid projects to the fight against human trafficking. The golden thread through all our projects is love and care, because love heals all, forgives all and overcomes all. Today we invite you to become part of the restoration.
        </div>
      </div>
  
 
  
