<div class="container-fluid">
    <div class="row row-heading">
      <div class="col">
        <br />
        <h1 class="selector">Donate</h1>
      </div>
    </div>
  </div>
<br/>
<br/>
<div class="container donation-container">

  <div class="row">
    <!-- Column for the Image -->
    <div class="col-lg-6 img-column">
      <img src="assets/Bloved-logo.png" alt="Description" class="img-fluid donation-image">
    </div>

    <!-- Column for the Form -->
    <div class="col-lg-6 form-column">
      <form>
        <div class="mb-3 form-group">
          <label for="amount" class="form-label">
            Enter the amount you want to donate in ZAR
            <i class="fa fa-question-circle" data-bs-toggle="tooltip" title="Please enter the amount you want to donate in ZAR, you will then be redirected to our Coinbase where you can choose the crypto of your choice you want to use for donating"></i>
          </label>
          <input type="number" name="amount" class="form-control donation-input" id="amount" [(ngModel)]="amount" [min]="0" placeholder="ZAR 0.00" #amountField="ngModel">
          <div *ngIf="amountField.invalid && amountField.touched" class="alert alert-danger">
            <div *ngIf="amountField.errors?.['min']">Donation amount cannot be less than zero.</div>
          </div>
        </div>
        <button type="button" class="btn btn-primary donation-button" (click)="makeDonation()">Make Donation</button>
      </form>
    </div>
  </div>

  <div class="row text-row">
    <div class="col-lg-12 donation-text">
      Kintsugi, is the Japanese art of mending broken pottery with gold – embracing the scars and increasing the value. That is what B Loved embodies, restoring people and empowering the broken, vulnerable, and abandoned to UNDERSTAND their value. Restoration triggers the images of taking something old and making it new. For us it also means giving someone back what was stolen from them, their future, their health, and most importantly, their hope.
          <br/>
          <br/>
          We have developed 4 very unique programs through which we partner with purpose-driven organizations and projects to enable the restoration of as many people as possible. Through our collaborative approach, we have seen millions distributed and many lives changed from 2008 until now. Our programmes range from feeding schemes, youth development and community aid projects to the fight against human trafficking. The golden thread through all our projects is love and care, because love heals all, forgives all and overcomes all. Today we invite you to become part of the restoration.
    </div>
  </div>
</div>

  
 
  
