<br/>
<br/>
<h1>Customer Refund Requests</h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="header-cell">Wine Name</th>
        <th scope="col" class="header-cell">Email</th>
        <th scope="col" class="header-cell">Description</th>
        <th scope="col" class="header-cell">Requested On</th>
        <th scope="col" class="header-cell">Order Reference</th>
        <th scope="col" class="header-cell">Cost</th>
        <th scope="col" class="header-cell">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of refundRequests">
        <td>{{ getWineName(request.wineId)}}</td>
        <td>{{request.email}}</td>
        <td>{{request.description}}</td>
        <td>{{request.requestedOn | date:'short'}}</td>
        <td>{{request.orderRefNum}}</td>
        <td>R{{request.cost}}</td>
        <select [(ngModel)]="selectedStatuses[request.id]" (change)="updateStatus(request.id, selectedStatuses[request.id])">
          <option *ngFor="let status of refundStatuses" [value]="status">{{status}}</option>
        </select>
      </tr>
    </tbody>
  </table>
  
