<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel+Decorative">
<div class="container-fluid">
    <div class="row row-heading">
      <div class="col">
        <br/>
        <h1 class="selector">FAQ's</h1>
      </div>
    </div>
  </div>
<br>
<br>
<div class="faq-container">
  <div class="faq-grid">
    <div class="faq" *ngFor="let faq of faqs; let i = index">
      <button class="question-btn" (click)="toggleAnswer(i)">
        {{ faq.question }}
      </button>
      <p class="answer" *ngIf="isAnswerShown(i)">{{ faq.answer }}</p>
    </div>
  </div>
</div>



  