<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel+Decorative">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel+Decorative">
<div class="container-fluid">
  <div class="row row-heading">
    <div class="col">
      <br />
      <h1 class="selector">About Us</h1>
    </div>
  </div>
</div>
<br>
<br>

<div class="container-fluid">
  <div class="wave"></div>
  <div class="container mt-4">
    <div class="row">

      <div class="col-lg-6 col-md-12 mb-4">
        <div class="card">
          <div class="card-image" style="background-image: url('assets/whyexist.jpg');">
            <div class="card-title-overlay">
              <h2 class="card-title about">WHY WE EXIST</h2>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text us">We exist to offer wine enthusiasts and connoisseurs an unparalleled experience. We believe that the love for wine unites people, and our aim is to deepen this connection. We strive to share the sophisticated nuances of wine tasting with our customers, celebrating the diversity of flavors, regions, and people that contribute to the rich world of wine</p>
          </div>
        </div>
      </div>


      <div class="col-lg-6 col-md-12 mb-4">
        <div class="card">
          <div class="card-image" style="background-image: url('assets/vision.jpg');">
            <div class="card-title-overlay">
              <h2 class="card-title about">OUR VISION</h2>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text us">Our vision is to be South Africa's premier destination for online wine sales and wine tasting events. We aspire to curate an array of outstanding wines, cater to the discerning tastes of our clients, and host exquisite events that educate and entertain. We envision a community of wine lovers who appreciate and contribute to the growth and sustainability of our local wine industry.</p>
          </div>
        </div>
      </div>



      <div class="col-lg-6 col-md-12 mb-4">
        <div class="card">
          <div class="card-image" style="background-image: url('assets/mission.jpg');">
            <div class="card-title-overlay">
              <h2 class="card-title about">OUR MISSION</h2>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text us">Our mission is to cultivate a rich, wine-loving culture. We aim to offer top-quality wines sourced from the finest vineyards, both locally and internationally. Through education and experience, we intend to deepen understanding and appreciation for the art of wine making and tasting.</p>
          </div>
        </div>
      </div>


      <div class="col-lg-6 col-md-12 mb-4">
        <div class="card">
          <div class="card-image" style="background-image: url('assets/empower.jpg');">
            <div class="card-title-overlay">
              <h2 class="card-title about">HOW WE EMPOWER</h2>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text us">We empower wine lovers by providing an accessible and informative platform where they can explore and purchase a wide variety of wines. Our wine tasting events are designed to empower attendees with knowledge and appreciation of the nuanced world of wines. Through our initiatives, we hope to foster a sense of community and enable wine enthusiasts to become part of the broader conversation about wine culture and sustainable viticulture.</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
