<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel+Decorative">
<div class="container-fluid">
    <div class="row row-heading">
      <div class="col">
        <br/>
        <h1 class="selector">About Us</h1>
      </div>
    </div>
  </div>
<br>
<br>
<div class="about-container">
    <div class="about-grid">
        <div class="box">
            <p class="about">WHY WE EXIST</p>
            <p class="us">Empowering organisations, to empower people.
                All South Africans are interconnected and share one future.
                We must, therefore, collaborate and draw on systems thinking to
                have a Positive Exponential Impact on our country’s development.</p>
        </div>
    </div>
    <div class="about-grid">
        <div class="box">
            <p class="about">OUR VISION</p>
            <p class="us">We aspire to be the leading organisation in South Africa for the development of innovative solutions that enable organisations to meaningfully contribute towards socio-economic empowerment and upliftment in our country.</p>
        </div>
    </div>
    <div class="about-gridm">
        <div class="box">
            <p class="about">OUR MISSION</p>
            <p class="us">Our goal is to establish Sound, Sustainable, Value-Adding and Profitable business structures that help organisations to engage in Ethical and Value-Driven Initiatives through …</p>
            <ul>
                <li>World-Class B-BBEE Advisory Services.</li>
                <li>Skills Development and Training.</li>
                <li>Socio-Economic Development Opportunities.</li>
                <li>Local and International Business.</li>
                <li>Networks/Partnerships.</li>
                <li>Provision of Event and Training Facilities.</li>
                <li>Promoting Localisation through Intermediate Inputs.</li>
            </ul>
        </div>
    </div>
    <div class="about-grid">
        <div class="box">
            <p class="about">HOW WE EMPOWER</p>
            <p class="us">Empowerment strategies built around commercial imperatives</p>
        </div>
    </div>
</div>
