<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel+Decorative">
<div class="container-fluid">
    <div class="row row-heading">
      <div class="col">
        <br/>
        <h1 class="selector">About Us</h1>
      </div>
    </div>
  </div>
<body>
    <div class="container mt-4">
        <div class="centered-card">
          <div class="card card-limit-width mb-3">
            <div class="card-body">
              <h2 class="card-title about">HOW WE EMPOWER</h2>
              <p class="card-text us">Empowerment strategies built around commercial imperatives</p>
            </div>
          </div>
        </div>
    
        <div class="card mb-3">
          <div class="card-body">
            <h2 class="card-title about">OUR MISSION</h2>
            <p class="card-text us">Our goal is to establish Sound, Sustainable, Value-Adding, and Profitable business structures that help
              organisations to engage in Ethical and Value-Driven Initiatives through:</p>
            <ul>
              <li>World-Class B-BBEE Advisory Services.</li>
              <li>Skills Development and Training.</li>
              <li>Socio-Economic Development Opportunities.</li>
              <li>Local and International Business.</li>
              <li>Networks/Partnerships.</li>
              <li>Provision of Event and Training Facilities.</li>
              <li>Promoting Localisation through Intermediate Inputs.</li>
            </ul>
          </div>
        </div>
    
        <div class="row equal-height-row">
          <div class="col-md-6 mb-3">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title about">WHY WE EXIST</h2>
                <p class="card-text us">Empowering organisations, to empower people. All South Africans are interconnected and
                  share one future. We must, therefore, collaborate and draw on systems thinking to have a Positive Exponential
                  Impact on our country’s development.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title about">OUR VISION</h2>
                <p class="card-text us">We aspire to be the leading organisation in South Africa for the development of
                  innovative solutions that enable organisations to meaningfully contribute towards socio-economic empowerment and
                  upliftment in our country.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    <!-- Link Bootstrap JS (Optional if you need JS functionality) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>