<br>
<div class="btn-group" role="group" aria-label="Tabs">
  <button type="button" class="btn btn-primary" (click)="showCurrentPage()">Inventory On Hand</button>
  <button type="button" class="btn btn-primary" (click)="showStockTakePage()">StockTake</button>
</div>
<br>
<br>

<div *ngIf="currentPage">
  <!--************************************************************ Page Heading + Add Button ************************************************************************************-->

  <div class="row align-items-center">
    <div class="col">
      <h2>Inventory on Hand</h2>
      <div class="row mb-3">
        <div class="col-md-6">
          <input type="text" class="form-control" placeholder="Search Inventory" [(ngModel)]="searchQuery"
            (input)="filterWines()">
        </div>
      </div>
    </div>
    <div class="col text-end">
      <button class="btn btn-success" (click)="openAddInventoryModal()">
        <i class="fas fa-plus"></i> Add
      </button>
    </div>
  </div>

  <!--************************************************************ Page Heading + Add Button ************************************************************************************-->


  <!--************************************************************ Table for View Inventory ******************************************************************************-->

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="header-cell">Name</th>
        <th scope="col" class="header-cell">Varietal</th>
        <th scope="col" class="header-cell">Type</th>
        <th scope="col" class="header-cell">Price</th>
        <th scope="col" class="header-cell">Stock Limit</th>
        <th scope="col" class="header-cell">Quantity on Hand</th>
        <th scope="col" class="header-cell">Write-off</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of inventory">
        <td>{{ getWineName(x.wineID) }}</td>
        <td>{{ getVarietalName(x.varietalID) }}</td>
        <td>{{ getWinetypeName(x.wineTypeID) }}</td>
        <td>{{ getWinePrice(x.wineID) }}</td>
        <td>{{ x.stockLimit }}</td>
        <td>{{ x.quantityOnHand }}</td>
        <td>
          <i class="bi bi-arrow-down-circle text-primary fs-3" (click)="openWROModal(x.wineID)"></i>
        </td>
        <td>
          <button class="btn btn-primary" style="margin-right: 4px;"
            (click)="x.inventoryID !== undefined && openEditInventoryModal(x.inventoryID)">
            <i class="fas fa-pencil-alt"></i>
          </button>
          <button class="btn btn-danger" (click)="x.inventoryID!== undefined && openDeleteInventoryModal(x)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center" *ngIf="inventory.length === 0">
    <h3>No Inventory on hand in current system.</h3>
  </div>

  <!--************************************************************ Table for View Inventory ******************************************************************************-->


  <!--************************************************************ Add/Edit Modal ***********************************************************************************************-->

  <div class="modal" tabindex="-1" [ngClass]="{'show': showInventoryModal}"
    [ngStyle]="{'display': showInventoryModal ? 'block' : 'none'}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">{{editingInventory ? 'Edit Inventory' : 'Add Inventory'}}
          <button type="button" class="btn-close" aria-label="Close" (click)="closeInventoryModal()"></button>
        </div>
        <div class="modal-body">
          <form #inventoryForm="ngForm" (ngSubmit)="submitInventoryForm(inventoryForm); onSubmitClick()">

            <!-- Wine Name Field -->
            <div class="mb-3">
              <label for="wineName" class="form-label">Name</label>
              <i *ngIf="!editingInventory" class="fa fa-question-circle" data-bs-toggle="tooltip"
                title="Please select the Wine Name"></i>
              <!-- When Adding Inventory -->
              <select *ngIf="!editingInventory" class="form-select" id="wineName" [(ngModel)]="currentInventory.wineID"
                name="wineID" required (ngModelChange)="updateFieldsBasedOnWineName(currentInventory.wineID)">
                <option [value]="0" disabled>Select a wine</option>
                <option *ngFor="let wine of wines" [value]="wine.wineID">{{ wine.name }}</option>
              </select>
              <!-- When Editing Inventory -->
              <p *ngIf="editingInventory">{{ getWineName(currentInventory.wineID) }}</p>
            </div>

            <!-- Wine Type Field -->
            <div class="mb-3" *ngIf="currentInventory.wine">
              <label class="form-label">Wine Type</label>
              <p>{{ getWinetypeName(currentInventory.wineTypeID) }}</p>
            </div>

            <div class="mb-3" *ngIf="editingInventory">
              <label class="form-label">Wine Type</label>
              <p>{{ getWinetypeName(currentInventory.wineTypeID) }}</p>
            </div>


            <!-- Wine Varietal Field -->
            <div class="mb-3" *ngIf="currentInventory.wine">
              <label class="form-label">Wine Varietal</label>
              <p>{{ getVarietalName(currentInventory.varietalID) }}</p>
            </div>

            <div class="mb-3" *ngIf="editingInventory">
              <label class="form-label">Wine Varietal</label>
              <p>{{ getVarietalName(currentInventory.varietalID) }}</p>
            </div>

            <!-- Wine Price Field -->
            <div class="mb-3" *ngIf="currentInventory.wine">
              <label class="form-label">Wine Price</label>
              <p>R {{ currentInventory.wine.price }}</p>
            </div>

            <div class="mb-3" *ngIf="editingInventory">
              <label class="form-label">Wine Price</label>
              <p>R {{ getWinePrice(currentInventory.wineID) }}</p>
            </div>

            <!-- Stock Limit Field -->
            <div class="mb-3">
              <label for="stockLimit" class="form-label">Stock Limit</label>
              <i class="fa fa-question-circle" data-bs-toggle="tooltip"
                title="Please enter minimun amount of the wine that should be available"></i>
              <input type="number" class="form-control" id="stockLimit" [(ngModel)]="currentInventory.stockLimit"
                name="stockLimit" required [min]="0" #stockLimitField="ngModel">
              <div *ngIf="stockLimitField.invalid && stockLimitField.touched" class="alert alert-danger">
                <div *ngIf="stockLimitField.errors?.['required']">Stock Limit is required.</div>
                <div *ngIf="stockLimitField.errors?.['min']">Stock Limit cannot be zero or less.</div>
              </div>
            </div>

            <!-- Quantity On Hand Field -->
            <div class="mb-3">
              <label for="quantityOnHand" class="form-label">Quantity On Hand</label>
              <i class="fa fa-question-circle" data-bs-toggle="tooltip"
                title="Please enter the amount of Wine you have on hand"></i>
              <input type="number" class="form-control" id="quantityOnHand"
                [(ngModel)]="currentInventory.quantityOnHand" name="quantityOnHand" required [min]="0.01"
                #quantityOnHandField="ngModel" [disabled]="editingInventory">
              <div *ngIf="quantityOnHandField.invalid && quantityOnHandField.touched" class="alert alert-danger">
                <div *ngIf="quantityOnHandField.errors?.['required']">Quantity On Hand is required.</div>
                <div *ngIf="quantityOnHandField.errors?.['min']">Quantity On Hand cannot be zero or less.</div>
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeInventoryModal()">Close</button>
          <button type="button" class="btn btn-primary" [disabled]="inventoryForm.invalid"
            (click)="submitInventoryForm(inventoryForm); onSubmitClick()">
            {{editingInventory ? 'Save Changes' : 'Save'}}
          </button>
        </div>
      </div>
    </div>
  </div>


  <!--************************************************************ Add/Edit Modal ***********************************************************************************************-->


  <!--************************************************************ Delete Modal *************************************************************************************************-->

  <div class="modal" tabindex="-1" [ngClass]="{'show': showDeleteInventoryModal}"
    [ngStyle]="{'display': showDeleteInventoryModal ? 'block' : 'none'}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">Delete Confirmation
          <button type="button" class="btn-close" aria-label="Close" (click)="closeDeleteInventoryModal()"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this Inventory?</p>
          <p>Wine Name: {{ getWineName(inventoryToDeleteDetails?.wineID) }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeDeleteInventoryModal()">No</button>
          <button type="button" class="btn btn-primary"
            (click)="deleteInventory(); AddAuditLog('Inventory: Deleted')">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <!--************************************************************ Delete Modal *************************************************************************************************-->






  <button type="button" class="btn btn-primary" (click)="exportexcel()">Export to Excel</button>
  <!--************************************************************ Table for View Write Off Reason ******************************************************************************-->


  <!--************************************************************ WriteOff Modal ***********************************************************************************************-->

  <div class="modal" tabindex="-1" [ngClass]="{'show': showWROModal}"
    [ngStyle]="{'display': showWROModal ? 'block' : 'none'}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">Write Off
          <button type="button" class="btn-close" aria-label="Close" (click)="closeWROModal()"></button>
        </div>

        <div class="modal-body">
          <form #writeROForm="ngForm" (ngSubmit)="AddWriteOff(writeROForm)">

            <div class="mb-3">
              <label for="WineName" class="form-label">Wine Name:</label>
              <p>{{getWineName(currentInventory.wineID) }}</p>
            </div>

            <div class="mb-3">
              <label for="WriteOffReason" class="form-label">Write Off Reason:</label>
              <br>
              <select id="WriteOffReason" name="WriteOffReason" required [(ngModel)]="WriteOffReasonSelected">
                <option [value]="'NA'" disabled selected>Select a Write-Off Reason</option>
                <option *ngFor="let x of WriteOffReasons" [value]="x">{{x}}</option>
              </select>
            </div>

            <div class="mb-3">
              <label for="quantityOnHand" class="form-label">Quantity Writing Off</label>
              <i class="fa fa-question-circle" data-bs-toggle="tooltip"
                title="Please enter the amount of Wine you want to write off"></i>
              <input type="number" class="form-control" id="quantityWriteOff" name="quantityWriteOff" required
                [max]="currentInventory.quantityOnHand" [min]="0"  [(ngModel)]="quantityWriteOff" #quantityWriteOffField="ngModel">
                <div *ngIf="quantityWriteOffField.invalid && quantityWriteOffField.touched" class="alert alert-danger">
                  <div *ngIf="quantityWriteOffField.errors?.['required']">Write-off amount required.</div>
                  <div *ngIf="quantityWriteOffField.errors?.['min']">You can't write-off negatice stock.</div>
                </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeWROModal()">Close</button>
          <button type="button" class="btn btn-primary" [disabled]="writeROForm.invalid"
            (click)="AddWriteOff(writeROForm);  AddAuditLog('Write Off: Added')">Write Off</button>
        </div>
      </div>
    </div>
  </div>
</div>





  <div *ngIf="!currentPage">
    <div class="row align-items-center">
      <div class="col">
        <h2>StockTake Table</h2>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="header-cell">Supplier Order Ref</th>
          <th scope="col" class="header-cell">Wine Name</th>
          <th scope="col" class="header-cell">Date Done</th>
          <th scope="col" class="header-cell">Quantity Ordered</th>
          <th scope="col" class="header-cell">Quantity Received</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of stocktake">
          <td>{{ supOrderMap.get(x.supplierOrderID!) }}</td>
          <td>{{ wineNamesMap.get(x.supplierOrderID!) }}</td>
          <td>{{ x.dateDone | date:'dd/MM/yyyy HH:mm'}}</td>
          <td>{{ x.quantityOrdered }}</td>
          <td>{{ x.quantityReceived }}</td>
        </tr>
        
      </tbody>
    </table>

    <div class="text-center" *ngIf="stocktake.length === 0">
      <h3>No StockTakes have taken place. </h3>
    </div>



  </div>