<!--************************************************************ Page Heading + Add Button ************************************************************************************-->

<br>
<br>
<div class="row align-items-center">
  <div class="col">
    <h1>Inventory</h1>
  </div>
</div>

<!--************************************************************ Page Heading + Add Button ************************************************************************************-->


<footer>
    <div class="d-grid gap-3 d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-success">Create Write-off Reason</button>
    <button type="button" class="btn btn-warning">Edit Write-off Reason</button>
    <button type="button" class="btn btn-danger">Delete Write-off Reason</button>
    </div>
</footer>