<!--************************************************************ Page Heading + Add Button ************************************************************************************-->

<br>
<br>
<div class="row align-items-center">
  <div class="col">
    <h2>Inventory on Hand</h2>
  </div>
<div class="col text-end">    
  <button class="btn btn-success" (click)="openAddInventoryModal()">
    <i class="fas fa-plus"></i> Add
  </button>
</div>
</div>

<!--************************************************************ Page Heading + Add Button ************************************************************************************-->


<!--************************************************************ Table for View Inventory ******************************************************************************-->

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="header-cell">Name</th>
      <th scope="col" class="header-cell">Varietal</th>
      <th scope="col" class="header-cell">Type</th>
      <th scope="col" class="header-cell">Price</th>
      <th scope="col" class="header-cell">Stock Limit</th>
      <th scope="col" class="header-cell">Quantity on Hand</th>
      <th scope="col" class="header-cell">Adjust QOH</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let x of inventory">
      <td>{{ getWineName(x.wineID) }}</td>
      <td>{{ getVarietalName(x.varietalID) }}</td>
      <td>{{ getWinetypeName(x.wineTypeID) }}</td>
      <td>{{ getWinePrice(x.wineID) }}</td>
      <td>{{ x.stockLimit }}</td>
      <td>{{ x.quantityOnHand }}</td>
        <td>
         
          <i class="bi bi-dash-circle text-primary fs-3" (click)="decreaseQuantity(x)"></i>
          <i class="bi bi-plus-circle-fill text-primary fs-3" (click)="increaseQuantity(x)"></i>
          
        </td>
      <td>
        <button class="btn btn-primary" style="margin-right: 4px;" (click)="x.inventoryID !== undefined && openEditInventoryModal(x.inventoryID)">
          <i class="fas fa-pencil-alt"></i>
        </button>
        <button class="btn btn-danger" (click)="x.inventoryID!== undefined && openDeleteInventoryModal(x)">
          <i class="fas fa-trash-alt"></i>
        </button>        
      </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center" *ngIf="inventory.length === 0">
    <h3>No Inventory on hand in current system.</h3>
  </div>

<!--************************************************************ Table for View Inventory ******************************************************************************-->


<!--************************************************************ Add/Edit Modal ***********************************************************************************************-->

<div class="modal" tabindex="-1" [ngClass]="{'show': showInventoryModal}" [ngStyle]="{'display': showInventoryModal ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{editingInventory ? 'Edit Inventory' : 'Add Inventory'}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeInventoryModal()"></button>
      </div>
      <div class="modal-body">
        <form #inventoryForm="ngForm" (ngSubmit)="submitInventoryForm(inventoryForm)">
          
          <!-- Wine Name Field -->
          <div class="mb-3">
            <label for="wineName" class="form-label">Name</label>
            <!-- When Adding Inventory -->
            <select *ngIf="!editingInventory" class="form-select" id="wineName" [(ngModel)]="currentInventory.wineID" name="wineID" required (ngModelChange)="updateFieldsBasedOnWineName(currentInventory.wineID)">
                <option *ngFor="let wine of wines" [value]="wine.wineID">{{ wine.name }}</option>
            </select>
            <!-- When Editing Inventory -->
            <p *ngIf="editingInventory">{{ getWineName(currentInventory.wineID) }}</p>
          </div>

          <!-- Wine Type Field -->
          <div class="mb-3" *ngIf="currentInventory.wine">
            <label class="form-label">Wine Type</label>
            <p>{{ getWinetypeName(currentInventory.wineTypeID) }}</p>
          </div>

          <div class="mb-3" *ngIf="editingInventory">
            <label class="form-label">Wine Type</label>
            <p>{{ getWinetypeName(currentInventory.wineTypeID) }}</p>
          </div>
        

          <!-- Wine Varietal Field -->
          <div class="mb-3" *ngIf="currentInventory.wine">
            <label class="form-label">Wine Varietal</label>
            <p>{{ getVarietalName(currentInventory.varietalID) }}</p>
          </div>

          <div class="mb-3" *ngIf="editingInventory">
            <label class="form-label">Wine Varietal</label>
            <p>{{ getVarietalName(currentInventory.varietalID) }}</p>
          </div>

          <!-- Wine Price Field -->
          <div class="mb-3" *ngIf="currentInventory.wine">
            <label class="form-label">Wine Price</label>
            <p>R {{ currentInventory.wine.winePrice }}</p>
          </div>

          <div class="mb-3" *ngIf="editingInventory">
            <label class="form-label">Wine Price</label>
            <p>R {{ getWinePrice(currentInventory.wineID) }}</p>
          </div>

          <!-- Stock Limit Field -->
          <div class="mb-3">
            <label for="stockLimit" class="form-label">Stock Limit</label>
            <input type="number" class="form-control" id="stockLimit" [(ngModel)]="currentInventory.stockLimit" name="stockLimit" required [min]="0.01" #stockLimitField="ngModel">
            <div *ngIf="stockLimitField.invalid && stockLimitField.touched" class="alert alert-danger">
              <div *ngIf="stockLimitField.errors?.['required']">Stock Limit is required.</div>
              <div *ngIf="stockLimitField.errors?.['min']">Stock Limit cannot be zero or less.</div>
            </div>
          </div>

          <!-- Quantity On Hand Field -->
          <div class="mb-3">
            <label for="quantityOnHand" class="form-label">Quantity On Hand</label>
            <input type="number" class="form-control" id="quantityOnHand" [(ngModel)]="currentInventory.quantityOnHand" name="quantityOnHand" required [min]="0.01" #quantityOnHandField="ngModel">
            <div *ngIf="quantityOnHandField.invalid && quantityOnHandField.touched" class="alert alert-danger">
              <div *ngIf="quantityOnHandField.errors?.['required']">Quantity On Hand is required.</div>
              <div *ngIf="stockLimitField.errors?.['min']">Quantity On Hand cannot be zero or less.</div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeInventoryModal()">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="inventoryForm.invalid" (click)="submitInventoryForm(inventoryForm)">
          {{editingInventory ? 'Save Changes' : 'Save'}}
        </button>
      </div>
    </div>
  </div>
</div>


<!--************************************************************ Add/Edit Modal ***********************************************************************************************-->


<!--************************************************************ Delete Modal *************************************************************************************************-->

<div class="modal" tabindex="-1" [ngClass]="{'show': showDeleteInventoryModal}"
  [ngStyle]="{'display': showDeleteInventoryModal ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Confirmation</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeDeleteInventoryModal()"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this Inventory?</p>
        <p>Wine Name: {{ getWineName(inventoryToDeleteDetails?.wineID) }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeDeleteInventoryModal()">No</button>
        <button type="button" class="btn btn-primary" (click)="deleteInventory()">Yes</button>
      </div>
    </div>
  </div>
</div>

<!--************************************************************ Delete Modal *************************************************************************************************-->