.card-deck {
    margin: 15px;
}

.event-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.event-card .card-body {
    flex: 1;
}

.event-card .card-title {
    font-size: 1.5em;
    font-weight: bold;
}

.event-card img {
    object-fit: cover;  /* This will ensure images cover the area without distorting their aspect ratios */
    height: 400px;  /* Adjust based on your needs */
    width: 100%;
}

.buy-button {
    margin-top: 10px;
}
