.row-heading {
  background-color: #B55933;
  padding: 20px 0;
}

.selector {
  font-family: 'Cinzel Decorative', cursive;
}

.row-heading h1 {
  font-size: 4rem;
  color: white;
  text-align: center;
}

.event-card {
  transition: transform .2s;
  height: 100%;
  border: 1px solid #B55933;
  box-shadow: 0 0 15px 0 #B55933;
}

.event-card:hover {
  transform: scale(1.02);
}

.buy-button {
  border-radius: 0;
  background-color: #B55933;
}

.card-img-top {
  width: 100%;
  height: 20vw; /* increasing the image height */
  object-fit: cover;
}

.card-body {
  height: auto; /* adjust the card body height */
}

.card-title {
  font-size: 2em;
  font-weight: bold;
}

.label {
  font-weight: 700;
}

.price {
  font-size: 1.5em;
  font-weight: bold;
  color: #B55933;
}

