<!--************************************************************ Page Heading + Add Button ************************************************************************************-->
<br>
<br>
<div class="row align-items-center">
  <div class="col">
    <h2>Supplier</h2>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Search Supplier" [(ngModel)]="searchQuery"
        (input)="filterSuppliers()">
    </div>
  </div>
  <div class="col text-end">    
    <button class="btn btn-success" (click)="openAddSupplierModal()">
      <i class="fas fa-plus"></i> Add
    </button>
  </div>
</div>

<!--************************************************************ Page Heading + Add Button ************************************************************************************-->

<!--************************************************************ Add/Edit Modal ***********************************************************************************************-->

<div class="modal" tabindex="-1" [ngClass]="{'show': showModal}" [ngStyle]="{'display': showModal ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{editingSupplier ? 'Edit Supplier' : 'Add Supplier'}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeSupplierModal(); onSubmitClick()"></button>
      </div>
      <div class="modal-body">
        <form #supplierForm="ngForm" (ngSubmit)="submitSupplierForm(supplierForm)">
          <div class="mb-3">
            <div class="d-flex justify-content-between" style="margin: 0px;">
              <label for="name" class="form-label">Name <i class="fa fa-question-circle" data-bs-toggle="tooltip" title="Please enter the Supplier Name"></i></label>
              <span style="color: #ff6666; font-size: smaller;">* Required</span>
            </div>
            <input type="text" class="form-control" id="name" [(ngModel)]="currentSupplier.name" name="name" required #nameField="ngModel" placeholder="Enter Supplier Name">
            <div *ngIf="nameField.invalid && nameField.touched" class="alert alert-danger">
              <div *ngIf="nameField.errors?.['required']">Name is required.</div>
            </div>
          </div>
          
          <div class="mb-3">
            <div class="d-flex justify-content-between" style="margin: 0px;">
              <label for="phone" class="form-label">Phone Number <i class="fa fa-question-circle" data-bs-toggle="tooltip" title="Please enter the Supplier Phone Number"></i></label>
              <span style="color: #ff6666; font-size: smaller;">* Required</span>
            </div>
            <input type="text" class="form-control" id="phone" [(ngModel)]="currentSupplier.phoneNumber" name="phone" required #phoneInput="ngModel" pattern="[0-9]{10,14}" placeholder=" Enter Supplier Phone Number">
            <div *ngIf="phoneInput.invalid && (phoneInput.dirty || phoneInput.touched)" class="alert alert-danger">
              <div *ngIf="phoneInput.errors && phoneInput.errors['required']">Phone number is required.</div>
              <div *ngIf="phoneInput.errors && phoneInput.errors['pattern']">Phone number should be between 10 and 14 digits.</div>
            </div>
          </div>
          
          <div class="mb-3">
            <div class="d-flex justify-content-between" style="margin: 0px;">
                <label for="email" class="form-label">Email <i class="fa fa-question-circle" data-bs-toggle="tooltip" title="Please enter the Supplier Email"></i></label>            
                <span style="color: #ff6666; font-size: smaller;">* Required</span>
            </div>
            <input type="email" class="form-control" id="email" [(ngModel)]="currentSupplier.email" name="email" required email #emailField="ngModel" placeholder=" Enter Supplier Email">
            <div *ngIf="emailField.invalid && emailField.touched" class="alert alert-danger">
              <div *ngIf="emailField.errors?.['required']">Email is required.</div>
              <div *ngIf="emailField.errors?.['email']">Please enter a valid email address.</div>
            </div>
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeSupplierModal()">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="supplierForm.invalid" (click)="submitSupplierForm(supplierForm); onSubmitClick()">{{editingSupplier ? 'Save Changes' : 'Save'}}</button>
      </div>
    </div>
  </div>
</div>
<!--************************************************************ Add/Edit Modal ***********************************************************************************************-->


<!--************************************************************ Table for View Suppliers *************************************************************************************-->
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="header-cell">Name</th>
        <th scope="col" class="header-cell">Phone Number</th>
        <th scope="col" class="header-cell">Email</th>
        <th scope="col" class="header-cell"> Actions</th>
      </tr>
    </thead>
    <tbody>
        <!-- *ngFor="let supplier of suppliers" -->
        <tr *ngFor="let supplier of paginatedSuppliers">
          <td>{{ supplier.name }}</td>
          <td>{{ supplier.phoneNumber }}</td>
          <td>{{ supplier.email }}</td>
        <td>
          <button class="btn btn-primary" style="margin-right: 4px;" (click)="supplier.supplierID !== undefined && openEditSupplierModal(supplier.supplierID)">
            <i class="fas fa-pencil-alt"></i>
          </button>
          <button class="btn btn-danger" (click)="supplier.supplierID!== undefined && openDeleteSupplierModal(supplier)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
        </tr>
      </tbody>
    </table>
    
    <div class="text-center" *ngIf="filteredSuppliers.length === 0">
      <h3>No suppliers currently in your system.</h3>
    </div>

    <!--************************************************************ Table for View Suppliers *********************************************************************************-->
   

     <!--************************************************************ Delete Modal *************************************************************************************************-->

<div class="modal" tabindex="-1" [ngClass]="{'show': showDeleteSupplierModal}"
[ngStyle]="{'display': showDeleteSupplierModal ? 'block' : 'none'}">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Delete Confirmation</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="closeDeleteSupplierModal()"></button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete this supplier?</p>
      <p>Supplier Name: {{ supplierToDeleteDetails?.name }}</p>
      <p>Supplier Phone Number: {{ supplierToDeleteDetails?.phoneNumber }}</p>
      <p>Supplier Email: {{ supplierToDeleteDetails?.email }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeDeleteSupplierModal()">No</button>
      <button type="button" class="btn btn-primary" (click)="deleteSupplier(supplierToDeleteDetails.supplierID); AddAuditLog('Supplier: Deleted')">Yes</button>
    </div>
  </div>
</div>
</div>
<br>
<br>

<div class="pagination">
  <button class="btn custom-btn" (click)="previousPage()">
    &laquo; Previous
  </button>
  <span class="custom-page-info">Page {{ currentPage }} of {{ totalPages }}</span>
  <button class="btn custom-btn" (click)="nextPage()">
    Next &raquo;
  </button>
</div>

<!--************************************************************ Delete Modal *************************************************************************************************-->


<br>
<br>
<br>
<br>
<br>
