<br>
<br>
<!-- Employees -->
<div class="row align-items-center mb-3">
  <div class="col-md-6">
    <h2>Employee Accounts</h2>
  </div>
  <div class="col-md-6 text-end">
    <button class="btn btn-success btn-sm" (click)="openAddEmployeeModal()">
      <i class="fas fa-plus"></i> Add
    </button>
  </div>
</div>

<!-- System Privileges table -->
<div class="text-center" *ngIf="employees.length === 0">
  <h3>No employee details are currently in your system.</h3>
</div>

<table class="table table-striped" *ngIf="employees.length > 0">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
      <th scope="col">ID Number</th>
      <th scope="col">Hire Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees">
      <td>{{ emp.first_Name }}</td>
      <td>{{ emp.last_Name }}</td>
      <td>{{ emp.email }}</td>
      <td>{{ emp.phone_Number }}</td>
      <td>{{ emp.iD_Number }}</td>
      <td>{{ emp.hire_Date }}</td>
      <td>
        <button class="btn btn-primary"
          (click)="emp.employeeID !== undefined && openEditEmployeeModal(emp.employeeID)"
          style="margin-right: 4px;">
          <i class="fas fa-pencil-alt"></i>
        </button>

        <button class="btn btn-danger" (click)="emp.employeeID !== undefined && openDeleteEmployeeModal(emp)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
  
  <!-- Add/Edit Employee Modal -->
  <div class="modal" tabindex="-1" [ngClass]="{'show': showEmployeeModal}" [ngStyle]="{'display': showEmployeeModal ? 'block' : 'none'}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{editingEmployee ? 'Edit Employee' : 'Add Employee'}}</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="closeEmployeeModal()"></button>
        </div>
        <div class="modal-body">
          <form #employeeForm="ngForm" (ngSubmit)="submitEmployeeForm(employeeForm)">
            <!--! FIRST NAME -->
            <div class="mb-3">
              <label for="name" class="form-label">First Name:</label>
              <input type="text" class="form-control" id="empName" [(ngModel)]="currentEmployee.first_Name" name="Name" required pattern="^[A-Za-z]+$">
              <div *ngIf="employeeForm.controls['Name'].invalid && employeeForm.controls['Name'].touched" class="alert alert-danger">
                
                <div *ngIf="employeeForm.controls['Name'].errors?.['required']">First Name is required.</div>
                <div *ngIf="employeeForm.controls['Name'].errors?.['pattern']">First Name should not contain numerical values.</div>
              </div>
            </div>
            
            <!--! LAST NAME -->
            <div class="mb-3">
              <label for="surname" class="form-label">Last Name:</label>
              <input type="text" class="form-control" id="empLastName" [(ngModel)]="currentEmployee.last_Name" name="Surname" required pattern="^[A-Za-z]+$">
              <div *ngIf="employeeForm.controls['Surname'].invalid && employeeForm.controls['Surname'].touched" class="alert alert-danger">
                <div *ngIf="employeeForm.controls['Surname'].errors?.['required']">Last Name is required.</div>
                <div *ngIf="employeeForm.controls['Surname'].errors?.['pattern']">Last Name should not contain numerical values.</div>
              </div>
            </div>
            
  
            <!--! EMAIL -->
            <div class="mb-3">
              <label for="email" class="form-label">Email: </label>
              <input type="email" class="form-control" id="empEmail" [(ngModel)]="currentEmployee.email" name="email" required>
              <div *ngIf="employeeForm.controls['email'].invalid && employeeForm.controls['email'].touched" class="alert alert-danger">
                <div *ngIf="employeeForm.controls['email'].errors?.['required']">Email is required.</div>
                <div *ngIf="employeeForm.controls['email'].errors?.['email']">Invalid email format.</div>
              </div>
            </div>
  
            <!--! PHONE NUMBER -->
            <div class="mb-3">
              <label for="phonenumber" class="form-label">Phone number:</label>
              <input type="text" class="form-control" id="empPhoneNumber" [(ngModel)]="currentEmployee.phone_Number" name="phonenumber" required pattern="^[0-9]{10}$">
              <div *ngIf="employeeForm.controls['phonenumber'].invalid && employeeForm.controls['phonenumber'].touched" class="alert alert-danger">
                <div *ngIf="employeeForm.controls['phonenumber'].errors?.['required']">Phone number is required.</div>
                <div *ngIf="employeeForm.controls['phonenumber'].errors?.['pattern']">Phone number must be exactly 10 digits.</div>
              </div>
            </div>

            <!--! ID NUMBER -->
            <div class="mb-3">
              <label for="idnumber" class="form-label">ID Number:</label>
              <input type="text" class="form-control" id="empIDNumber" [(ngModel)]="currentEmployee.iD_Number" name="idnumber" required pattern="^[0-9]{13}$">
              <div *ngIf="employeeForm.controls['idnumber'].invalid && employeeForm.controls['idnumber'].touched" class="alert alert-danger">
                <div *ngIf="employeeForm.controls['idnumber'].errors?.['required']">ID Number is required.</div>
                <div *ngIf="employeeForm.controls['idnumber'].errors?.['pattern']">ID Number must be exactly 13 digits.</div>
              </div>
            </div>


  
            <!--! HIRE DATE -->
            <div class="mb-3">
              <label for="hiredate" class="form-label">Hire Date:</label>
              <input type="date" class="form-control" id="empHireDate" [(ngModel)]="currentEmployee.hire_Date" name="hiredate" required [max]="maxDate">
              <div *ngIf="employeeForm.controls['hiredate'].invalid && employeeForm.controls['hiredate'].touched" class="alert alert-danger">
                <div *ngIf="employeeForm.controls['hiredate'].errors?.['required']">Hire Date is required.</div>
              </div>
            </div>
  
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="closeEmployeeModal()">Close</button>
              <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">
                {{editingEmployee ? 'Save Changes' : 'Save'}}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Delete Employee modal -->
<div class="modal" tabindex="-1" [ngClass]="{'show': showDeleteEmployeeModal}"
[ngStyle]="{'display': showDeleteEmployeeModal ? 'block' : 'none'}">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Delete Confirmation</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="closeDeleteEmployeeModal()"></button>
    </div>
    <div class="modal-body">
      Are you sure you want to delete this Employee?
      <p></p>
      <p>ID: {{ employeeToDeleteDetails?.employeeID }}</p>
      <p>Name: {{ employeeToDeleteDetails?.first_Name }}</p>
      <p>Surname: {{ employeeToDeleteDetails?.last_Name }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeDeleteEmployeeModal()">No</button>
      <button type="button" class="btn btn-primary" (click)="deleteEmployee()">Yes</button>
    </div>
  </div>
</div>
</div>



