<br>
<br>

<div class="row align-items-center mb-3">
    <div class="col-md-6">
        <h2>Supplier Orders</h2>
    </div>
    <div class="col-md-6 text-end">
        <button class="btn btn-success" (click)="openAddSupplierOrderModal()">
            <i class="fas fa-plus"></i> Add
        </button>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Order Num</th>
                <th scope="col">Wine Name</th>
                <th scope="col">Vintage</th>
                <th scope="col">Quantity Ordered</th>
                <th scope="col">Order Price</th>
                <th scope="col">Date Ordered</th>
                <th scope="col">Supplier Name</th>
                <th scope="col">Ordered</th>
                <th scope="col">Paid</th>
                <th scope="col">Received</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let order of supplierOrders; let i = index">
                <td>{{ order.supplierOrderRefNum }}</td>
                <td>{{ wineNamesMap.get(order.inventoryID!) }}</td>
                <td>{{ vintageMap.get(order.inventoryID!) }}</td>
                <td>{{ order.quantity_Ordered }}</td>
                <td *ngIf="order.isBackOrder == true">BackOrder</td>
                <td *ngIf="order.isBackOrder == false">R{{ order.orderTotal }}</td>
                <td>{{ order.dateOrdered | date:'short' }}</td>
                <td>{{ order.supplier?.name }}</td>

                <!-- Ordered -->
                <td>
                    <input *ngIf="order.supplierOrderStatus" type="checkbox" id="sOrdered"
                        [(ngModel)]="order.supplierOrderStatus.ordered"
                        [disabled]="order.supplierOrderStatus.received || order.supplierOrderStatus.paid"
                        (change)="updateOrder(order, 0); AddAuditLog('Supplier Order Update Status Ordered')">
                </td>

                <!-- Paid -->
                <td>
                    <input *ngIf="order.supplierOrderStatus" type="checkbox" id="sPaid"
                        [(ngModel)]="order.supplierOrderStatus.paid"
                        [disabled]="!order.supplierOrderStatus.ordered || order.supplierOrderStatus.paid"
                        (change)="AddAuditLog('Supplier Order Update Status Paid')"
                        (click)="openPaidModal(order.supplierOrderID!)">
                </td>

                <!-- Received -->
                <td>
                    <input *ngIf="order.supplierOrderStatus" type="checkbox" id="sReceived"
                        [(ngModel)]="order.supplierOrderStatus.received"
                        [disabled]="!order.supplierOrderStatus.ordered || !order.supplierOrderStatus.paid || order.supplierOrderStatus.received"
                        (change)="AddAuditLog('Supplier Order Update Status Received');"
                        (click)="openStockTakeModal(order.supplierOrderID!)">
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="text-center" *ngIf="supplierOrders.length === 0">
    <h3>No supplier orders currently in your system.</h3>
</div>

<!-- Add Supplier Order Modal -->
<div class="modal" tabindex="-1" [ngClass]="{'show': showAddSupplierOrderModal}"
    [ngStyle]="{'display': showAddSupplierOrderModal ? 'block' : 'none'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Supplier Order</h5>
                <button type="button" class="btn-close" aria-label="Close"
                    (click)="closeAddSupplierOrderModal()"></button>
            </div>
            <div class="modal-body">
                <form #addSupplierOrderForm="ngForm" (ngSubmit)="createOrder(addSupplierOrderForm.value)">

                    <!-- Select Inventory -->
                    <div *ngIf="selectedOrder">
                        <label for="inventoryID" class="form-label">Select Inventory</label>
                        <i class="fa fa-question-circle" data-bs-toggle="tooltip"
                            title="Please select an Inventory"></i>
                        <select id="inventoryID" name="inventoryID" [(ngModel)]="selectedOrder.inventoryID"
                            class="form-control" required>
                            <option *ngFor="let inventory of inventories" [value]="inventory.inventoryID">
                                {{wineNamesMap.get(inventory.inventoryID)}} ({{ vintageMap.get(inventory.inventoryID!)}})<!-- Display wineName from the map -->
                            </option>
                        </select>
                    </div>

                    <!-- Order Cost -->
                    <div class="mb-3">
                        <label for="orderCost" class="form-label">Order Cost</label>
                        <i class="fa fa-question-circle" data-bs-toggle="tooltip"
                            title="Order cost will be calculated later"></i>
                        <input *ngIf="selectedOrder" type="number" class="form-control" id="orderCost" name="orderCost"
                            [(ngModel)]="selectedOrder.orderTotal" min="1" disabled
                            placeholder="Order cost will be calculated later">
                    </div>

                    <!-- Quantity Ordered -->
                    <div class="mb-3">
                        <label for="quantityOrdered" class="form-label">Quantity Ordered</label>
                        <i class="fa fa-question-circle" data-bs-toggle="tooltip"
                            title="Please enter the quantity ordered"></i>
                        <input *ngIf="selectedOrder" type="number" class="form-control" id="quantityOrdered"
                            name="quantity_Ordered" [(ngModel)]="selectedOrder.quantity_Ordered" min="1" required>
                    </div>

                    <!-- Supplier -->
                    <div *ngIf="selectedOrder">
                        <label for="supplierID" class="form-label">Supplier</label>
                        <i class="fa fa-question-circle" data-bs-toggle="tooltip"
                            title="Please select the supplier ordered from"></i>
                        <select id="supplierID" name="supplierID" [(ngModel)]="selectedOrder.supplierID"
                            class="form-control" required>
                            <option *ngFor="let supplier of suppliers" [value]="supplier.supplierID">{{supplier.name}}
                            </option>
                        </select>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeAddSupplierOrderModal()">Close</button>
                <button type="button" class="btn btn-primary" [disabled]="addSupplierOrderForm.invalid"
                    (click)="createOrder(addSupplierOrderForm.value); AddAuditLog('Supplier Order Added')">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" [ngClass]="{'show': showPaidModal}"
    [ngStyle]="{'display': showPaidModal ? 'block' : 'none'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">Order Details
                <!-- <button type="button" class="btn-close" (click)="closePaidModal()" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">
                <!-- Display currentOrder Information -->
                <p><strong>Date ordered:</strong> {{ currentOrder.dateOrdered | date:'short' }}</p>
                <p><strong>Wine:</strong> {{ wineNamesMap.get(currentOrder.inventoryID!) }}</p>
                <p><strong>Quantity ordered:</strong> {{ currentOrder.quantity_Ordered }}</p>
                <!-- Add other properties of currentOrder that you want to display -->

                <!-- Input for order price with VAT -->
                <div class="form-group">
                    <label for="orderPriceWithVAT">Amount Paid (including VAT):</label>
                    <input type="text" class="form-control" id="orderPriceWithVAT" [(ngModel)]="currentOrder.orderTotal"
                        #orderTotalField="ngModel" pattern="^[0-9]+(\.[0-9]{1,2})?$" [min]="0" required>
                </div>
                <div *ngIf="orderTotalField.invalid && orderTotalField.touched" class="alert alert-danger">
                    <div *ngIf="orderTotalField.errors?.['required']">Order Total is required.</div>
                    <div *ngIf="orderTotalField.errors?.['min'] && !orderTotalField.errors?.['required']">Order cost
                        can't be less than 0</div>
                    <div *ngIf="orderTotalField.errors?.['pattern']">Please enter a valid amount for order total.</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                    [disabled]="orderTotalField.invalid || orderTotalField.value == 0"
                    (click)="updateOrder(currentOrder, currentOrder.orderTotal!); AddAuditLog('SupplierOrder: Added cost of order')">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- StockTake Modal -->
<div class="modal" tabindex="-1" [ngClass]="{'show': showStockTakeModel}"
    [ngStyle]="{'display': showStockTakeModel ? 'block' : 'none'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">Stocktake Entry
                 <button type="button" class="btn-close" aria-label="Close"
                    (click)="closeStockTakeModal()"></button> 
            </div>
            <div class="modal-body">
                <form #stocktakeForm="ngForm" (ngSubmit)="submitStocktake(stocktakeForm)">
                    <div class="mb-3">
                        <label for="wineName" class="form-label">Wine Name</label>
                        <p>{{wineNamesMap.get(currentOrder.inventoryID!) }}</p>
                    </div>
                    <div class="mb-3">
                        <label for="quantityOrdered" class="form-label">Quantity Ordered</label>
                        <p>{{currentOrder.quantity_Ordered }}</p>
                    </div>
                    <div class="mb-3">
                        <label for="quantityReceived" class="form-label">Quantity Received</label>
                        <input type="number" class="form-control" id="quantityReceived" name="quantityReceived" min="1"
                            required [(ngModel)]="QuantityReceived">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" (click)="closeStockTakeModal()">Close</button> 
                <button type="button" class="btn btn-primary" [disabled]="stocktakeForm.invalid"
                    (click)="submitStocktake(stocktakeForm); updateOrder(currentOrder, 0); AddAuditLog('Stocktake: Added to Quantity On Hand')">Update</button>
            </div>
        </div>
    </div>
</div>