/* CSS change */
table {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  table {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 20px 0;
  }

  .btn-sm {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
  }

  .is-invalid {
    border-color: red;
  }

  /* Custom button styles */
.custom-btn {
  background-color: #007bff;
  color: white;
  border: none;
}

.custom-btn:hover {
  background-color: #0056b3;
}

/* Custom text for page info */
.custom-page-info {
  font-weight: bold;
  margin: 0 15px;
}

/* Custom label for page size */
.custom-page-size-label {
  margin-right: 10px;
  font-weight: bold;
}

/* Custom dropdown styles */
.custom-dropdown {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


/* Custom styles for increasing toggle button size */
.form-check-label {
  font-size: 1.25rem; /* Increase the font size */
  margin-left: 0.5rem;
}

.form-switch .form-check-input {
  transform: scale(1.5); /* Increase the scale of the toggle */
}

/* Adjust the size of the toggle when it's checked */
.form-switch .form-check-input:checked {
  transform: scale(1.8); /* Increase the scale of the checked toggle */
}
/* Custom styles for offsetting labels */
.offset-label {
  margin-left: 0.1rem; /* Offset labels by 0.1rem to the right */
  display: none;
}

/* Show the first label when checkbox is checked */
.form-check-input:checked ~ .form-check-label .current-label {
  display: inline-block;
}

/* Show the second label when checkbox is unchecked */
.form-check-input:not(:checked) ~ .form-check-label .past-label {
  display: inline-block;
}