<br>
<div class="container">
    <h2>Update Login Details</h2>
    <form #updateForm="ngForm" (ngSubmit)="updateLoginDetails()">
      <div class="form-group" style="margin: 5px 0;">
        <label for="displayName">Display Name</label>
        <i class="fa fa-question-circle" data-bs-toggle="tooltip"
                title="Please enter the display name you would like to see next to the account icon."></i>
        <input type="text" class="form-control" id="displayName" name="displayName" [(ngModel)]="updatedUser.userName" #displayNameInput="ngModel" required pattern="^[A-Za-z ]+$" placeholder="Please enter the username of your choice">
        <div *ngIf="displayNameInput.invalid && (displayNameInput.dirty || displayNameInput.touched)" class="alert alert-danger">
          <div *ngIf="displayNameInput.errors?.['required']">Display name is required.</div>
          <div *ngIf="displayNameInput.errors?.['pattern']">Please enter a valid display name (alphanumeric and underscore only).</div>
        </div>
      </div>

      <div class="form-group" style="margin: 5px 0;">
        <label for="newEmail">New Email</label>
        <i class="fa fa-question-circle" data-bs-toggle="tooltip"
                title="Please enter a valid email address you would like to use when signing into your account."></i>
        <input type="email" class="form-control" id="newEmail" name="newEmail" [(ngModel)]="updatedUser.newEmail" #newEmailInput="ngModel" required email placeholder="Enter the email address you want linked to your account" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
        <!-- Add ngIf to check if the email is valid -->
        <div *ngIf="newEmailInput.invalid && (newEmailInput.dirty || newEmailInput.touched)" class="alert alert-danger">
          <div *ngIf="newEmailInput.errors?.['required']">Email is required.</div>
          <div *ngIf="newEmailInput.errors?.['pattern']">Please enter a valid email address.</div>
        </div>
      </div>
      

      <div class="form-group" style="margin: 5px 0;">
        <label for="currentpassword">Current Password</label>
        <i class="fa fa-question-circle" data-bs-toggle="tooltip"
                title="Please enter the password currently linked to your account"></i>
        <div class="input-group">
          <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" id="currentPassword"
            placeholder="Please enter your new password" [(ngModel)]="updatedUser.currentPassword" name="currentPassword" #currentPasswordInput="ngModel" required
            pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[^A-Za-z0-9]).{8,100}$">
          <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility()">
            <i class="bi bi-eye-fill {{ showPassword }}"></i>
          </button>
        </div>
        <!-- Add ngIf to check if the password is valid -->
        <div *ngIf="currentPasswordInput.invalid && (currentPasswordInput.touched || currentPasswordInput.dirty)"
          class="alert alert-danger">
          <div *ngIf="currentPasswordInput.errors?.['required']">Password is required.</div>
          <div *ngIf="currentPasswordInput.errors?.['pattern']">
            Password must consist of the following:
            <ul>
              <li>1 uppercase letter</li>
              <li>1 lowercase letter</li>
              <li>1 non-alphanumeric character</li>
              <li>1 digit</li>
              <li>Password must be 8 - 100 characters in length</li>
            </ul>
          </div>
        </div>
      </div>


      <div class="form-group" style="margin: 5px 0;">
        <label for="password">New Password</label>
        <i class="fa fa-question-circle" data-bs-toggle="tooltip"
                title="Please enter the new password you would like to use when signing into your account"></i>
        <div class="input-group">
          <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" id="newPassword"
            placeholder="Please enter your new password" [(ngModel)]="updatedUser.newPassword" name="newPassword" #newPasswordInput="ngModel" required
            pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[^A-Za-z0-9]).{8,100}$">
          <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility()">
            <i class="bi bi-eye-fill {{ showPassword }}"></i>
          </button>
        </div>
        <!-- Add ngIf to check if the password is valid -->
        <div *ngIf="newPasswordInput.invalid && (newPasswordInput.touched || newPasswordInput.dirty)"
          class="alert alert-danger">
          <div *ngIf="newPasswordInput.errors?.['required']">Password is required.</div>
          <div *ngIf="newPasswordInput.errors?.['pattern']">
            Password must consist of the following:
            <ul>
              <li>1 uppercase letter</li>
              <li>1 lowercase letter</li>
              <li>1 non-alphanumeric character</li>
              <li>1 digit</li>
              <li>Password must be 8 - 100 characters in length</li>
            </ul>
          </div>          
        </div>
        <div *ngIf="cpasswordsMatch()" class="alert alert-danger">Your new password cannot be the same as the current password</div>
      </div>
      

      <div class="form-group" style="margin: 5px 0;">
        <label for="confirmPassword">Confirm Password</label>
        <i class="fa fa-question-circle" data-bs-toggle="tooltip"
                title="Please enter your new password again to confirm your password"></i>
          <input type="password" class="form-control" id="confirmPassword"
            placeholder="Confirm password" [(ngModel)]="updatedUser.confirmPassword" name="confirmPassword" required>
        </div>
        <div *ngIf="!passwordsMatch() && updateForm.controls['confirmPassword'].touched"
          class="alert alert-danger">
          Passwords do not match.
        </div>
        <br>

        <button type="submit" class="btn btn-primary" [disabled]="!updateForm.valid || !passwordsMatch() || cpasswordsMatch()">Update Details</button>
    </form>
  </div>
  