<div class="container">
    <div class="row justify-content-center">
        <!-- 1st Column for Gender Pie Chart -->
        <div class="col-lg-4">
            <canvas class="chart-canvas" #genderPieChartCanvas></canvas>
        </div>
        <!-- 2nd Column for Age Distribution Chart -->
        <div class="col-lg-4">
            <canvas class="chart-canvas" #ageDistributionCanvas></canvas> <!-- Same class as pie chart -->
        </div>
    </div>


    
    <!-- Row for Sales Report Input and Canvas --> 
    <div id="pdfContent">
    <div class="row justify-content-center mt-4" >
        <div class="col-lg-6">
            <h1>Wine and Event Sales</h1>
            <div class="input-group mb-3 exclude-from-pdf">
                <input type="date" class="form-control" [(ngModel)]="startDate" placeholder="Start Date" (ngModelChange)="checkDates()"/>
                <input type="date" class="form-control" [(ngModel)]="endDate" placeholder="End Date" (ngModelChange)="checkDates()"/>
                <button class="btn btn-primary" [disabled]="!isDateValid" (click)="loadSalesReport()">Load Report</button>
                <button class="btn btn-success" (click)="generatePDF()">Generate PDF</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <canvas class="chart-canvas-big" #salesReportCanvas></canvas>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Sale Name</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Total Wine Sales</td>
                            <td>{{totalWineSales | currency:'R'}}</td>
                        </tr>
                        <tr>
                            <td>Total Event Sales</td>
                            <td>{{totalEventSales | currency:'R'}}</td>
                        </tr>
                        <tr class="table-dark">
                            <td>Total Sales</td>
                            <td>{{totalSales | currency:'R'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>   
    </div>
</div>
</div>
