<!-- Refunds Table -->
<br>
<br>
<div class="row align-items-center mb-3 refund-header">
  <div class="col-md-6">
    <h2 class="refund-title">My Refunds</h2>
  </div>
</div>


<div class="table-responsive refund-table-container">
  <table class="table table-striped refund-table">
    <thead>
      <tr>
        <th scope="col">Wine Name</th>
        <th scope="col" class="d-none d-md-table-cell">Email</th>
        <th scope="col" class="d-none d-md-table-cell">Description</th>
        <th scope="col" class="d-none d-md-table-cell">Requested On</th>
        <th scope="col" class="d-none d-md-table-cell">Cost</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of refundRequests">
        <td>{{ getWineName(request.wineId)}}</td>
        <td class="d-none d-md-table-cell">{{ request.email }}</td>
        <td class="d-none d-md-table-cell">{{ request.description }}</td>
        <td class="d-none d-md-table-cell">{{ request.requestedOn | date:'short' }}</td>
        <td class="d-none d-md-table-cell">R{{ request.cost }}</td>
        <td>{{ getStatusName(request.status) }}</td>

        
      </tr>
    </tbody>
    
  </table>

  <div class="text-center empty-wishlist" *ngIf="refundRequests.length === 0">
    <h3>No wines currently in your refunds.</h3>
  </div>
</div>

