<div *ngIf="purchasedTickets.length === 0" class="my-5 text-center">
  <p class="lead">You have not purchased any tickets yet.</p>
</div>

<div class="row"> <!-- Wrap the cards in a row -->
  <!-- Wine Event Tickets -->
  <div *ngFor="let ticket of purchasedTickets" class="col-md-6 my-3"> <!-- Set the column width for medium screens and above to 6, so there are two columns -->
    <div class="card" [style.max-width.px]="800" [style.background-color]="ticket.ticketPurchasedStatus?.eventDeleted ? '#ccc' : '#f2f2f2'">
      <div class="card-header" [style.background-color]="ticket.ticketPurchasedStatus?.eventDeleted ? '#ccc' : '#54ce20'" [style.color]="'#fff'">
        <h2 class="card-title">{{ ticket.eventName }}</h2>
      </div>
      <div class="card-body">
        <div *ngIf="ticket.ticketPurchasedStatus?.eventDeleted==true" class="text-center my-3">
          <span *ngIf="ticket.id" class="d-inline">This event ticket is for an event in the past.</span> <!-- Change to inline element -->
          
        </div>
        <!-- Rest of ticket details as before -->
        <div class="ticket-detail">
          <span class="label">Event Date:</span>
          <span class="data">{{ ticket.eventDate | date:'longDate' }}</span>
        </div>
        <div class="ticket-detail">
          <span class="label">Time:</span>
          <span class="data">{{ getEventTime(ticket.eventDate) }}</span>
        </div>
        <div class="ticket-detail">
          <span class="label">Description:</span>
          <p class="data">{{ ticket.description }}</p>
        </div>
        <div class="ticket-detail">
          <span class="label">Purchased on:</span>
          <span class="data">{{ ticket.purchaseDate | date:'longDate' }}</span>
        </div>
        <div class="ticket-detail">
          <span class="label">Price:</span>
          <span class="data">R{{ ticket.ticketPrice }}</span>
        </div>
        <br>
        <button *ngIf="ticket.ticketPurchasedStatus?.eventDeleted" class="btn btn-danger d-inline" (click)="onDeleteTicket(ticket.id)">Delete Ticket</button>


      </div>
    </div>
  </div>
</div>

<!-- <pre>{{ purchasedTickets | json }}</pre> -->
