<div *ngIf="purchasedTickets.length === 0" class="my-5 text-center">
  <p class="lead">You have not purchased any tickets yet.</p>
</div>

<!-- Wine Event Tickets -->
<div *ngFor="let ticket of purchasedTickets" class="my-3">
  <div class="card" style="max-width: 800px; background-color: #f2f2f2;">
    <div class="card-header" style="background-color: #54ce20; color: #fff;">
      <h2 class="card-title">{{ ticket.eventName }}</h2>
    </div>
    <div class="card-body">
      <div class="ticket-detail">
        <span class="label">Event Date:</span>
        <span class="data">{{ ticket.eventDate | date:'longDate' }}</span>
      </div>
      <div class="ticket-detail">
        <span class="label">Time:</span>
        <span class="data">{{ getEventTime(ticket.eventDate) }}</span>
      </div>
      <div class="ticket-detail">
        <span class="label">Description:</span>
        <p class="data">{{ ticket.description }}</p>
      </div>
      <div class="ticket-detail">
        <span class="label">Purchased on:</span>
        <span class="data">{{ ticket.purchaseDate | date:'longDate' }}</span>
      </div>
      <div class="ticket-detail">
        <span class="label">Price:</span>
        <span class="data">R{{ ticket.ticketPrice }}</span>
      </div>
    </div>
  </div>
</div>


