<nav id="nav-bar" class="navbar navbar-expand-lg navbar-light w-100" style="background-color: white;">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" routerLink="/clienthome">
            <img src="/assets/promenadelogo.png" alt="Logo" height="60">
        </a>

        <!-- Navbar Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto" style="font-size: 1.3em;">
                <!-- Home -->
                <li class="nav-item spaced-item">
                    <a class="nav-link" routerLink="/clienthome" routerLinkActive="active" style="color: #B55933;">Home</a>
                </li>

                 <!-- About Us -->
                 <li class="nav-item spaced-item">
                    <a class="nav-link" style="color: #B55933;">About Us</a>
                </li>

                <!-- Contact -->
                <li class="nav-item spaced-item">
                    <a class="nav-link" style="color: #B55933;">Contact</a>
                </li>

               

                <!-- Wines -->
                <li class="nav-item spaced-item">
                    <a class="nav-link" routerLink="/clientproducts" style="color: #B55933;">Shop</a>
                </li>

                <!-- Events -->
                <li class="nav-item spaced-item">
                    <a class="nav-link" routerLink="/clientevents" style="color: #B55933;">Events</a>
                </li>

                <!-- User Icon -->
                <li class="nav-item spaced-item">
                    <a class="nav-link" routerLink="/userinformation" style="color: #B55933; font-size: 1.6rem;"><i class="bi bi-person-circle"></i></a>
                </li>

                <!-- Cart Icon -->
                <li class="nav-item spaced-item">
                    <a class="nav-link" href="#" style="color: #B55933; font-size: 1.6rem;"><i class="bi bi-cart3"></i></a>
                </li>

                <li class="nav-item spaced-item">
                    <a class="nav-link" routerLink="/wine" style="color: #B55933;">ADMIN</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
