/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'node_modules/aos/dist/aos.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.user {
    text-align: right;
    color: blue;
  }
  
  .bot {
    text-align: left;
    color: #B55933;
  }